@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  div.song-to-add {
    width: 40%;
    padding: 5px;
  }
  div#white-player-playlist-container {
    left: 0;
  }
}
@media screen and (max-width: 39.9375em) {
  #bg {
    width: 500px;
  }
  body div.example-container {
    flex-direction: column;
  }
  body div.example-container div.left {
    width: 100%;
    margin-left: 75px;
  }
  body div.example-container div.right {
    display: none;
    width: 50%;
    margin-left: 50px;
  }
  div#white-player-playlist-container {
    left: 0;
    background-color: #b7b6b5;
    width: 350px;
  }
}
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  #bg {
    width: 100%;
  }
  body div.right {
    padding-left: 20px;
  }
  div#white-player-playlist-container {
    left: 0;
  }
}
