* {
  margin: 0 auto;
  padding: 0;
  color: white;
}
h1 {
  text-align: center;
  font-size: 50px;
  padding-top: 1em;
}
.container-fluid {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}
.header {
  border: 5px solid black;
  width: 1920px;
  height: 210px;
  background: lightblue;
}
.sector-1 {
  display: flex;
  background: red;
}
.hero-sidebar {
  display: flex;
  flex-direction: column;
}
.hero {
  width: 837px;
  height: 558px;
  background-color: pink;
}
.sidebar {
  width: 836px;
  height: 931px;
  background: rgb(67, 119, 25);
}
.main-content {
  width: 1085px;
  height: 922px;
  background: orange;
}
.e-content {
  width: 1084px;
  height: 567px;
  background: gray;
}
.sector-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rp {
  width: 774px;
  height: 201px;
  background: pink;
}
.rl {
  width: 1146px;
  height: 200px;
  background: greenyellow;
}
.footer {
  width: 1920px;
  height: 210px;
  background: red;
}