@media screen and (max-width: 480px) {
    body {
        padding: 0;
        margin: 0 auto;
        width: 100%;
        background: no-repeat;
        background-image: url(/img/more_bereg_minimalizm_100029_1920x1080.jpg);
    }
    .header__class {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
        color: gainsboro;
    }
    .header__class h1 {
        color: black;
        font-family: "Indie Flower", cursive;
        font-size: 20px;
    }
    .header__class h2 {
        color: black;
        font-family: "Indie Flower", cursive;
        font-size: 20px;
    }
    .header_main {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        color: gray;
        font-size: 20px;
        font-family: 'Indie Flower';
        margin-left: 25px;
    }
    select {
        position: absolute;
        left: 35%;
        bottom: 70%;
        color: white;
        background-color: rgb(43, 69, 95);
        border: 1px solid black;
        text-align: center;
        font-size: 10px;
        width: 120px;
        height: 25px;
        border-radius: 20px;
    }
    .img-im {
        display: none;
        position: absolute;
        bottom: 180px;
        left: 20px;
    }
    ul,
    li {
        list-style: none;
    }
    @keyframes color-change {
        0% {
            color: white;
        }
        50% {
            color: black;
        }
        100% {
            color: white;
        }
    }
    .animation {
        animation: color-change 4s infinite;
    }
    #bar {
        position: absolute;
        top: -4em;
        padding: 0.5em;
        left: 145px;
        margin: 0;
        width: 40px;
        height: 80px;
        background: rgb(101, 126, 150);
        color: white;
        transition: top 1.5s ease-out 0.5s;
    }
    #bar:hover {
        top: 0;
    }
    li img {
        width: 25px;
    }
    footer {
        position: absolute;
        left: 25%;
        top: 750px;
        color: white;
    }
}