body {
  padding: 0;
  margin: 0 auto;
  width: 1920px;
  background: no-repeat;
  background-size: 100%;
  background-image: url(https://www.wallpaperup.com/uploads/wallpapers/2014/03/02/283837/c80224a52170a32342120ec722001e95-1000.jpg);
}

html {
  scroll-behavior: smooth;
}

.header__class {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  color: gainsboro;
}

.header__class h1 {
  font-family: "Indie Flower", cursive;
  font-size: 50px;
}

.header__class h2 {
  color: rgb(116 147 177);
  font-family: "Indie Flower", cursive;
  font-size: 4em;
  margin-right: 125px;
}

.header_main {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 35px;
  font-family: "Indie Flower";
}

select {
  position: relative;
  bottom: 80px;
  left: 90px;
  color: white;
  background-color: rgb(49, 61, 73);
  border: 1px solid black;
  text-align: center;
  font-size: 25px;
  width: 200px;
  margin-right: 10em;
  border-radius: 20px;
}

.img {
  position: absolute;
  left: -55px;
  right: 73px;
  bottom: 1px;
}

ul,
li {
  list-style: none;
}

@keyframes color-change {
  0% {
    color: white;
  }
  50% {
    color: black;
  }
  100% {
    color: white;
  }
}

.animation {
  animation: color-change 4s infinite;
}

#bar {
  top: -9.8em;
  right: 110em;
  padding: 0.5em;
  margin: 0;
  position: absolute;
  width: 10em;
  background: rgb(101, 126, 150);
  color: white;
  text-align: center;
  transition: top 1.5s ease-out 0.5s;
  border-radius: 40px;
}

#bar:hover {
  top: 0;
}

@keyframes rocket-fly {
  0% {
    left: 0px;
  }
  100% {
    left: 100%;
  }
}

.fly {
  width: 50px;
  height: 10px;
  position: absolute;
  left: -70px;
  transform: rotate(220deg);
  animation-name: rocket-fly;
  animation-duration: 2.5s;
}

.dark-theme {
  background-image: url(/img/sky.jpg);
}

.theme-button {
  position: absolute;
  right: 10px;
  top: 20px;
  width: 70px;
  height: 50px;
  color: rgb(48, 142, 219);
  background: rgb(34, 51, 66);
  border-radius: 40px;
}

footer {
  position: absolute;
  left: 45%;
  top: 750px;
  color: white;
}
