* a {
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  margin: 0;
  padding: 0;
}
body {
    width: 1920px;
    margin: 0 auto;
}
ul, li {
  list-style-type: none
}
/*1 block/ HEADER */
.container-top-line{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.top-line {
  width: 1920px;
  background-color: #000000;
}
.tel{
  margin-left: 6px; 
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #969696;
}
.reg{
  margin-left: 4px;
  display: flex;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #969696;
  }
  /* 2 block/ HEADER */
.second-line {
  width: 1920px;
  height: 80px;
  background: #0F0F0F;
}
.container-second-line {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.text {
  margin-top: 15px;
  margin-right: -120px;
  font-family: Post No Bills Jaffna;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  color: #FFFFFF;
}
.style-button{
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  background: black;
  color: white;
  padding: 25px;
}
.style-button:hover {
    background: #191B1C;
    color: white;
}
.container-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 540px;
  height: 80px;
}
.bt{
  font-size: 14px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  /* Все символы текст/а становятся прописными (верхний регистр). */
  text-transform: uppercase;
  color: #969696;
  line-height: 18px;
}
.search, .store {
  margin-left: 35px;
}
  /* 3 block/ MAIN */
.container-first-screen {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  }
.first-screen {
  margin: 0;
  padding: 0;
  width: 1920px;
  height: 810px;
  background-repeat: no-repeat;
  background: linear-gradient(0deg, rgba(15, 15, 15, 0.5), rgba(15, 15, 15, 0.5));
  background-image:url(/img/first-screen.svg)
}
.frame1 {
  margin: 0;
  padding: 0;
  width: 320px;
  height: 320px;
  border: 4px solid #FFFFFF;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.linee {
  width: 179px;
  height: 0px;
  border: 2px solid #FFFFFF;
} 
.word{
  font-family: Post No Bills Jaffna;
  font-weight: bold;
  font-size: 64px;
  color: #FFFFFF;
  text-transform: uppercase;
}
.s {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  line-height: 30px;
  font-size: 19px;
  color: #FFFFFF;
}
.txt-porten{
  width: 730px;
  height: 96px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
 .container_for_right-left {
  display: flex;
  flex-direction: row-reverse;
} 
.container-right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.right {
  width: 880px;
  height: 730px;
  background: linear-gradient(0deg, rgba(15, 15, 15, 0.5), rgba(15, 15, 15, 0.5)), white;
  background-image: url(img/new-collection.svg);
}
.txt-collection {
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  text-transform: uppercase;
  color:  #FFFFFF;
}
.line1 {
  margin-bottom: 30px;
  width: 120px;
  height: 0px;
  border: 1px solid #FFFFFF;
}
.button {
  margin-top: 42px;
  padding: 12px 28px;
  height: 47px;
  border: 1px solid #FFFFFF;
  background: center;
  text-align: center;
  font-family: PT Sans;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.container-left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.left {
  width: 1040px;
  height: 730px;
  background: #0F0F0F;
}
.season {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.line-season {
  margin-top: 50px;
  width: 120px;
  height: 0px;
  border: 1px solid #FFFFFF;
}
.items {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item{
  border: 2px solid #191B1C;;
  margin-right: 50px;
  width: 260px;
  height: 325px;
  background: #191B1C;
}
.wtch{
  margin: 0 auto;
  width: 215px;
  height: 214px;
}
.watch-text{
  font-family: Playfair Display;
  font-style: normal;  
  font-weight: normal;
  font-size: 17px;
  color: #FFFFFF;
}
.money{
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #D0D0D0;
}
.container-collection-left_right {
  display: flex;
  flex-direction: row;
}
.img-collection2018 {
  width: 880px;
  height: 600px;
  background: linear-gradient(0deg, rgba(15, 15, 15, 0.5), rgba(15, 15, 15, 0.5)) #000000;
  background-image: url(img/collection-2018.svg)
}
.rectangle-2018 {
  width: 1040px;
  height: 600px;
  background: #191B1C;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.txt-collection-2018 {
  margin-top: 100px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.line-collection {
  margin-bottom: 40px;
  width: 120px;
  height: 0px;
  border: 1px solid #FFFFFF;
}
.txt2-collection-2018 { 
  margin-bottom: 40px;
  width: 471px;
  height: 173px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
}
.frame-collection2018 {
  margin-bottom: 100px;
  width: 311px;
  height: 47px;
  border: 1px solid #FFFFFF;
  background: black;
  color: #FFFFFF;
  text-transform: uppercase;
}
.new-goods {
  margin: 0 auto;
  width: 1920px;
  height: 1289px;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.new-arrivals {
  margin-top: 120px;
  background: #191B1C;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
 .line{
  margin-top: 40px;
  margin-bottom: 40px;
  height: 0;
  width: 120px;
  border: 1px solid #FFFFFF;
}
.container-new-goods{
  margin-bottom: 150px;
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 8%;
  align-items: center;
  /* justify-content: center; */
} 
.itemm{
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  margin-right: 23px;
  margin-top: 80px;
  border: 2px solid #191B1C;
  background: #191B1C;
  width: 260px;
  height: 325px;
}
.make-border:hover {
  border: 2px solid white;
  background-color: rgba(16, 63, 70, 0.527);
}
.louis{
  margin-top: 35px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}
.text-rub{
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #D0D0D0;
}
.ractangle-brand {
  width: 1920px;
  height: 362px;
  background:#0F0F0F;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.for-brand, .brandd {
  display: flex;
  margin-right: 30px;
}
 .our-brand{
  margin-bottom: 60px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
} 
.line-brand {
  margin-bottom: 30px;
  width: 120px;
  height: 0px;
  border: 1px solid #FFFFFF;
}
.picture {
  width: 1920px;
  height: 400px;
  background: linear-gradient(0deg, rgba(15, 15, 15, 0.85), rgba(15, 15, 15, 0.616));
  background-image: url(/img/footer.svg);
}
.container-menu {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.for_a_store{
  margin-right: 83px;
  margin-top: 80px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 32px;
  color: #FFFFFF;
  text-transform: uppercase;
}
.txt-lorem {
  width: 350px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
  text-transform: none;
  margin-top: 40px;
}
.container-for-watch {
  display: inline-flex;
  flex-direction: column;
}
.category {
  margin-left: -30px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 80px;
}
.container-for-menu {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 360px;
  height: 100px;
  margin-top: 24px;
}
.button-watch {
  display: flex;
  flex-direction: row;
  color: white;
  background: #0F0F0F;
  padding: 10px 20px;
  margin-top: 20px;
  margin-right: 20px;
}
.newsletter {
  margin-left: 50px;
  margin-top: 80px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  text-transform: uppercase;
}
.container-for-newsletter{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.txt-lorem-ispum {
  width: 350px;
  height: 42px;
  margin-top: 40px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  text-transform: none;
}
.rectangle-input{
  font-size: 18px;
  color: black;
  width: 210px;
  height: 42px;
  background: rgba(255, 255, 255, 0.4);
}
::placeholder {
  color: white;
}
.container-subscribe {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.subscribe {
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  background: #0F0F0F;
  color: white;
}
.last-line {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1920px;
  height: 50px;
  background: #0F0F0F;
}
.rights{
  margin-right: 200px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #D0D0D0;
}
.figma {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-decoration-line: underline;
  color: #D0D0D0;
}
.color-change {
  animation: color-change 5s infinite;
  text-align: center;
}
@keyframes font-change {
  0% {
    font-size: 20px;
  }
  50% {
    font-size: 60px;
  }
  100% {
    font-size: 20px;
  }
}
.anim {
  animation: font-change 5s infinite;
  color: rosybrown;
}