* a {
  text-decoration: none;
  box-sizing: border-box;
}
ul, li {
  list-style-type: none
}
/*1 block/ HEADER */
.container-top-line{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 40px;
}
.top-line {
  width: 1920px;
  height: 44px;
  background-color: #000000;
}
.tel{
  margin-left: 6px; 
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #969696;
}
.reg{
  margin-left: 4px;
  display: flex;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #969696;
  }
  /* 2 block/ HEADER */
.second-line {
  width: 1920px;
  height: 80px;
  background: #0F0F0F;
}
.container-second-line {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.text {
  margin-right: -405px;
  font-family: Post No Bills Jaffna;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  color: #FFFFFF;
}
/* .like-border {
  background: #1F1F1F;  -- для Ховера
} */
.bt1, .bt2, .bt3{
  margin-left: 40px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  /* Все символы текст/а становятся прописными (верхний регистр). */
  text-transform: uppercase;
  color: #969696;
  line-height: 18px;
}
.search, .store {
    margin-left: 40px;
}
  /* 3 block/ MAIN */
  
.first-screen {
  width: 1920px;
  visibility: hidden;
  height: 810px;
  background-repeat: no-repeat;
  background: linear-gradient(0deg, rgba(15, 15, 15, 0.5), rgba(15, 15, 15, 0.5));
  background-image:url(img/first-screen.png)
}
.frame {
  width: 320px;
  height: 320px;
  border: 4px solid #FFFFFF;
  box-sizing: border-box;
}
.line {
  width: 179px;
  height: 0px;
  border: 2px solid #FFFFFF;
}
.word {
  width: 185px;
  height: 86px;
  font-family: Post No Bills Jaffna;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 96px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
}
i {
  width: 180px;
  height: 44px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
}
h4{
  width: 730px;
  height: 96px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

 .new-collection {
  margin: 0;
  width: 880px;
  height: 730px;
  background: linear-gradient(0deg, rgba(15, 15, 15, 0.5), rgba(15, 15, 15, 0.5)), white;
  background-image: url(img/new-collection.png);
}
.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 28px;
  height: 47px;
  border: 1px solid #FFFFFF;
  background: center;
  box-sizing: border-box;
}
.txt-collection {
  width: 376px;
  height: 39px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color:  #FFFFFF;
}
h3 {
  position: static;
  width: 82px;
  height: 23px;
  left: 28px;
  top: 12px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 10px 0px;
}
.line1 {
  width: 120px;
  height: 0px;
  border: 1px solid #FFFFFF;
}
.new-season {
  width: 1040px;
  height: 730px;
  background:black;
}
.season {
  width: 376px;
  height: 39px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.line-season {
  width: 120px;
  height: 0px;
  border: 1px solid #FFFFFF;
}
.place1, .place2, .place3 {
  width: 260px;
  height: 325px;
  background: #191B1C;
}
.place2 {
  left: 390px;
}
.place3 {
  left: 700px;
}
.wtch1, .wtch2, .wtch3 {
  width: 215px;
  height: 214px;
  background: url(img/watch-hand1.png);
}
.wtch2 {
  left: 413px;
  background: url(img/watch-hand2.png);
}
.wtch3 {
  left: 723px;
  background: url(img/watch-hand3.png);
}
.wt1, .wt2, .wt3 {
  text-align: inherit;
  width: 140px;
  height: 24px;
  left: 80px;
  top: 1516px;
  font-family: Playfair Display;
  font-style: normal;  
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
  color: #FFFFFF;
}
.wt2 {
  left: 390px;
}
.wt3 {
  left: 700px;
}
.n1, .n2, .n3 {
  width: 92px;
  height: 21px;
  left: 80px;
  top: 1550px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #D0D0D0;
}
.n2 {
  left: 390px;
}
.n3 {
  left: 700px;
}
.collection-2018 {
  width: 1920px;
  height: 600px;
  top: 1664px;
  left: 0px;
}
.rectangle8 {
  width: 1040px;
  height: 600px;
  left: 880px;
  top: 1664px;
  background: #000000;
}
.rectangle9 {
  width: 880px;
  height: 600px;
  left: 0px;
  top: 1664px;
  background: linear-gradient(0deg, rgba(15, 15, 15, 0.5), rgba(15, 15, 15, 0.5)) #000000;
  background-image: url(img/collection-2018.png);
}
.text-collection-2018 {
    width: 376px;
    height: 39px;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.line-collection {
  width: 120px;
  height: 0px;
  border: 1px solid #FFFFFF;
}
.text2-collection-2018 { 
  width: 471px;
  height: 173px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
}
.frame2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 28px;
  width: 311px;
  height: 47px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  color: white;
}
.txt-frame {
  position: static;
  width: 255px;
  height: 23px;
  left: 28px;
  top: 12px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 10px 0px;
}
.new-goods {
  width: 1920px;
  height: 1289px;
  background: #000000;
}
.new-arrivals {
  width: 440px;
  height: 48px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.line3 {
  width: 120px;
  height: 0px;
  border: 1px solid #FFFFFF;
}
.p1, .p2, .p3, .p4, .p5, .p6, .p7, .p8 {
  width: 260px;
  height: 325px;
  background: #191B1C;
}
.p2 {
  left: 688px;
}
.p3 {
  left: 971px;
}
.p4{
  left: 1254px;
}
.p5 {
  top: 2998px;
  left: 405px;
}
.p6 {
  top: 2998px;
  left: 688px;
}
.p7 {
  top: 2998px;
  left: 971px;
}
.p8 {
  top: 2998px;
  left: 1254px;
}
.h:hover {
  border: 2px solid white;
  background-color: rgba(16, 63, 70, 0.527);
}
.w1, .w2, .w3, .w4, .w5, .w6, .w7, .w8 {
  width: 215px;
  height: 214px;
  left: 428px;
  top: 2608px;
  background: url(img/watch-hand1.png);
}
.w2 {
  left: 711px;
}
.w3 {
  left: 994px;
}
.w4 {
  left: 1277px;
}
.w5 {
  top: 3053px;
}
.w6 {
  top: 3053px;
  left: 711px;
}
.w7 {
  top: 3053px;
  left: 994px;
}
.w8 {
  top: 3053px;
  left: 1277px;
}
.louis1, .louis2, .louis3, .louis4, .lo5, .lo6, .lo7, .lo8 {
  width: 140px;
  height: 24px;
  left: 405px;
  top: 2903px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
  color: #FFFFFF;
}
.louis2 {
  left: 688px;
}
.louis3 {
  left: 971px;
}
.louis4 {
  left: 1254px;
}
.lo5 {
  top: 3348px;
  left: 405px;
}
.lo6 {
  top: 3348px;
  left: 688px;
}
.lo7 {
  top: 3348px;
  left: 971px;
}
.lo8 {
  top: 3348px;
  left: 1254px;
}
.text-rub1, .text-rub2, .text-rub3, .text-rub4, .text-rub5, .text-rub6, .text-rub7, .text-rub8{
  width: 92px;
  height: 21px;
  left: 405px;
  top: 2937px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #D0D0D0;
}
.text-rub2 {
  left: 688px;
}
.text-rub3 {
  left: 971px;
}
.text-rub4 {
  left: 1254px;
}
.text-rub5 {
  left: 405px;
  top: 3382px;
}
.text-rub6 {
  left: 688px;
  top: 3382px;
}
.text-rub7 {
  left: 971px;
  top: 3382px;
}
.text-rub8 {
  left: 1254px;
  top: 3382px;
}
.ractangle-brand {
  width: 1920px;
  height: 362px;
  left: 0px;
  top: 3553px;
  background: #0F0F0F;
}
.our-brand {
  width: 289px;
  height: 48px;
  left: 816px;
  top: 3613px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.line-brand {
  width: 120px;
  height: 0px;
  left: 900px;
  top: 3701px;
  border: 1px solid #FFFFFF;
}
.brand1, .brand2, .brand3, .brand4{
  width: 255px;
  height: 94px;
  left: 405px;
  top: 3741px;
  background: url(img/brand.png);
}
.brand2 {
  left: 690px;
}
.brand3 {
  left: 975px;
}
.brand4 {
  left: 1260px;
}
.footer {
  width: 1920px;
  height: 400px;
  left: 0px;
  top: 3909px;
  background-color: #0F0F0F;
}
.picture {
  width: 1920px;
  height: 400px;
  left: 0px;
  top: 3909px;
  background: linear-gradient(0deg, rgba(15, 15, 15, 0.85), rgba(15, 15, 15, 0.616));
  background-image: url(/img/shadow.png), #C4C4C4;
}
.txt-store-foote {
  width: 151px;
  height: 32px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 32px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.category {
  width: 142px;
  height: 32px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.txt-lorem, .textlorem {
  width: 350px;
  height: 147px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
}
.textlorem {
  height: 42px;
}
.input {
  width: 210px;
  height: 42px;
  background: rgba(255, 255, 255, 0.4);
}
.but-watch{
  display: flex;
  align-items: center;
  padding: 10px 20px;
  width: 70px;
  height: 41px;
  top: 4061px;
  margin-left: 20px;
  background: #0F0F0F;
  position: static;
  width: 30px;
  height: 21px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #D0D0D0;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 10px 0px;
}
.bracelets {
  width: 58px;
}
.belts {
  width: 39px;
}
.jewelry {
  position: static;
  width: 124px;
}
.cufflinks {
  position: static;
  width: 51px;
}
.rectagle-inpu {
  width: 210px;
  height: 42px;
  background: rgba(255, 255, 255, 0.4);
}
.bt-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20;
  background: #0F0F0F
}
.subscribe {
  position: static;
  width: 100px;
  height: 21px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14spx;
  line-height: 150%;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 10px 0px;
}
.last-line {
  width: 1920px;
  height: 50px;
  background: #0F0F0F;
}
.rights {
  width: 155px;
  height: 16px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #D0D0D0;
}
.figma {
  width: 155px;
  height: 16px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  text-decoration-line: underline;
  color: #D0D0D0;
}