body {
  background-image: url(fon.jpg);
  font-family: Georgia, sans-serif;
  font-size: 16px;
  max-width: 600px;
  line-height: 1.5;
  padding-top: 65;
  padding-bottom: 32px;
  margin: 64px;
}
p {
  margin: 0 0 12px 0;
}
h1 {
  font-size: 36px;
  margin: 0;
}
h2 {
  color: white;
  font-size: 32px;
  border: 1px;
  border-bottom-style: solid;
  border-color: coral;
  margin: 0 0 8px 0;
}
h3 {
  font-weight: 400px;
}
#header {
   margin: 0 0 32px 0;
   text-align: center;
}
#header .header-title {
  font-size: 18px;
  border: none;
  margin: 0 0 10px 0;
}
#footer {
  margin: 64px;
  text-align: center;
}
@keyframes color-change {
    0% {
      color: red;
    }
    50% {
      color: black;
    }
    100% {
      color: green;
    }
  }
  .black-white {
    animation: color-change 5s infinite;
  }
li {
  color: red;
}
