body {
  background-image: url(fon.jpg);
  font-family: Georgia, sans-serif;
  font-size: 16px;
  max-width: 600px;
  line-height: 1.5;
  padding-top: 50px;
  padding-bottom: 500px;
  margin: 100px;
}
p {
  margin: 0 0 12px 0;
}
h1 {
  font-size: 36px;
  margin: 0;
}
h2 {
  color: white;
  font-size: 32px;
  border: 1px;
  margin: 0 0 8px 0;
}
@keyframes color-change {
    0% {
      color: red;
    }
    50% {
      color: black;
    }
    100% {
      color: green;
    }
  }
  .black-white {
    animation: color-change 5s infinite;
  }
