@media (min-width: 120px) and (max-width: 480px) {
    html,
    body {
        overflow-x: hidden;
        height: 100% !important;
    }
    ol,
    ul {
        padding-left: 0rem;
    }
    p {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
    }
    .top-menu {
        margin-top: 15px;
        margin-left: 0;
    }
    .hidden-item {
        display: none;
    }
    .warning p {
        font-size: 10px;
    }
    .warning .close-btn {
        width: 13px;
        height: 13px;
        position: absolute;
        right: 0;
        top: 4px;
    }
    .header {
        font-size: 22px;
    }
    .header nav {
        display: block;
        font-size: 9px;
        margin: 14px;
    }
    .header nav a {
        margin-right: 10px;
    }
    .content-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100% !important;
    }
    .banner .content-wrapper {
        display: flex;
        flex-direction: column;
        font-size: 15px;
    }
    .banner .details {
        left: 18px;
        top: 26px;
    }
    .banner h1 {
        font-size: 22px;
        margin-top: -36px;
    }
    .banner h2 {
        line-height: 28px;
        font-size: 16px;
        margin-bottom: 5px;
    }
    .banner button {
        width: 100px;
        height: 24px;
        border-radius: 10px;
        font-size: 10px;
        line-height: 14px;
    }
    .img-banner {
        width: 100%;
    }
    .warning {
        width: 100%;
    }
    .left {
        margin: 0 0px -6px 23px;
    }
    .left h3 {
        font-size: 30px;
        line-height: 30px;
        margin-top: 37px;
    }
    .left button {
        width: 215px;
        height: 34px;
        font-size: 15px;
    }
    .our-partner {
        width: 100%;
        background-image: url(../img/our-partner.png);
    }
    .our-partner button {
        width: 298px;
        height: 36px;
        border-radius: 22px;
        font-size: 16px;
    }
    .our-partner h2 {
        font-size: 33px;
    }
    .section-left p {
        font-size: 21px;
        font-family: "Poppins";
        margin: 20px 0;
    }
    .communication {
        width: 100%;
    }
    .goods {
        margin-top: 0;
    }
    .goods h2 {
        margin: 52px 0 30px 0;
    }
    .item {
        width: 122px;
        height: 190px;
        margin: 10px;
    }
    .inf-section {
        display: none;
    }
    .hidden-item {
        display: none;
    }
    .item h4 {
        font-size: 14px;
    }
    .cost-color {
        font-size: 13px;
    }
    .line-through {
        font-size: 12px;
    }
    .wrap-info {
        display: flex;
        align-items: flex-start;
        align-self: center;
    }
    .wrap img {
        width: 121px;
        height: 75px;
    }
    .wrap button {
        width: 105px;
        height: 25px;
        border-radius: 10px;
        margin-top: 11px;
    }
    .inf-section {
        width: auto;
    }
    .inf-section h2 {
        margin: 46px 0 36px 0;
        font-size: 28px;
    }
    .right {
        display: block;
    }
    .right img {
        width: 100%;
    }
    .list li {
        font-size: 15px;
        font-weight: bold;
    }
    .sections {
        display: block;
    }
    .section-left {
        min-width: 100% !important;
    }
    .section-left h3 {
        font-size: 36px;
    }
    .section-left b {
        font-size: 24px;
    }
    .section-left p {
        flex-wrap: wrap;
        width: 100%;
        font-weight: normal;
        max-width: 270px;
    }
    .section-left button {
        width: 240px;
    }
    .section-right {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-position: left;
        height: 432px;
        width: 100% !important;
    }
    .carousel {
        display: flex;
        flex-direction: row;
    }
    .carousel-wrap {
        width: 99px;
        height: 112px;
        padding: 2px;
        margin: 3px;
    }
    .carousel-wrap img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 94px;
        height: 102px;
    }
    .communication {
        width: auto;
        height: auto;
    }
    .communication h4 {
        font-size: 34px;
    }
    .com-item {
        height: auto;
        font-size: 10px;
        flex-direction: row;
        display: flex;
        width: 230px;
        margin: 0 auto;
        flex-wrap: wrap;
    }
    .com-item img {
        width: auto;
    }
    .com-item a {
        margin: 8px auto;
    }
    .bakery-quality a {
        font-size: 17px;
    }
    .bakery-quality i {
        font-size: 18px;
    }
    .footer-section h5 {
        margin: 33px 19px 21px 0px;
    }
    footer {
        display: none !important;
    }
    /*  BURGER  */
    #hamburger {
        display: block;
        position: absolute;
        left: 15px;
        top: 20px;
        border: none;
        background: none;
        cursor: pointer;
        z-index: 4;
        transition: all ease 2s;
    }
    .menu-btn {
        width: 30px;
        height: 30px;
        position: absolute;
        z-index: 5;
        bottom: 140px;
        right: 85%;
        overflow: hidden;
    }
    .menu-btn span {
        width: 30px;
        height: 3px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #222222;
        transition: all 0.5s;
    }
    .menu-btn span:nth-of-type(2) {
        top: calc(40% - 5px);
    }
    .menu-btn span:nth-of-type(3) {
        top: calc(60% + 5px);
    }
    .menu-btn::after {
        margin-left: 10px;
        border: none;
    }
    #hamburger:focus {
        outline: none;
    }
    .menu {
        position: absolute;
        left: 0;
        top: 0;
        visibility: hidden;
        width: 100%;
        height: 65%;
        border-radius: 20px;
        justify-content: space-evenly;
        flex-direction: column;
        backdrop-filter: blur(2px);
        transform: translateX(-100%);
        transition: transform 0.5s;
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
    }
    .menu.active {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        visibility: visible;
        left: 0;
        width: 100%;
        position: fixed;
        height: 100%;
        text-decoration: underline;
        z-index: 2;
        display: flex;
        transition: height 1s 1s linear;
        background: rgb(188 194 194 / 86%);
    }
    /* Меняем гамбургер иконку, когда меню открыто */
    .menu-btn.active span:nth-of-type(1) {
        display: none;
    }
    .menu-btn.active span:nth-of-type(2) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(45deg);
    }
    .menu-btn.active span:nth-of-type(3) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(-45deg);
    }
    nav {
        display: none;
    }
    .menuLink {
        display: flex;
        justify-content: center;
        font-family: 'Poppins';
        font-size: 20px;
        font-weight: bold;
        font-style: oblique;
        color: #ffffff;
        text-shadow: 1px 0 1px #c4c4c4, 0 1px 1px #fff, -1px 0 1px #607d8b, 0 -1px 1px #607d8b;
        width: 100%;
    }
    .menuLink:hover {
        color: rgba(10, 10, 10, 0.424);
        background: rgba(201, 209, 209, 0.664);
    }
    .slick-slider {
        width: 470px;
    }
    .slick-next .slick-arrow {
        display: none;
    }
    .slick-list {
        display: flex;
        width: 400px;
        min-width: 0;
        flex-direction: column;
        justify-content: center;
    }
    .slick-next {
        display: none !important;
    }
    .slick-prev {
        display: none !important;
    }
    .tablink {
        display: none;
    }
}