#html {
  display: flex;
  justify-content: center;
  width: 1920px;
  font-weight: 900;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#html > h1 {
  color: white;
  font-size: 90px;
}
li {
  list-style: none;
  padding: 10px;
}
nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(28, 141, 175);
  background: rgba(186, 204, 186, 0.74);
}
nav > h1 {
  color: gray;
}
