@media screen and (max-width: 480px) {
  .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 83px;
  }
  .header-image {
    display: flex;
    align-items: center;
  }
  .header-image img {
    /* margin-left: 30px; */
  }
  .nav {
    display: none;
  }
  .items {
    display: none;
  }
  .header-main {
    align-items: flex-end;
    flex-wrap: wrap;
    width: 1087px;
    height: 772px;
    background: url(/Traveling/img/mobile-img/Photo.png) center center no-repeat, #c4c4c4;
    background-size: cover;
  }
}
@media screen and (min-width: 1024px) {
    .youtube {
        display: none;
    }
}
