* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
.header {
    background: white;
}
ul,
li {
    list-style: none;
}
.header-top {
    background: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #c4c4c4;
}
.nav {
    font-family: Open Sans;
    font-size: 18px;
    line-height: 60px;
}
.nav a {
    margin-right: 30px;
    color: gray;
}
.header-image img {
    margin-left: 23px;
}
.container-for-image {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.header-main {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 100%;
    height: 670px;
    background: url(/Traveling/img/traveling.svg), #c4c4c4;
}
.container-for-image h1 {
    color: black;
    margin-bottom: 131px;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 80px;
    letter-spacing: 0.03em;
}
.main {
    width: 100%;
}
.main h2 {
    display: flex;
    justify-content: center;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.03em;
    margin-top: 89px;
}
.items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: white;
    margin-top: 39px;
}
.items h3 {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 28px;
    letter-spacing: 0.05em;
    margin-top: 16px;
}
.item {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 16px;
}
.item h4 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    margin-top: 26px;
    border-left: 2px solid #ed8651;
    width: 300px;
    padding-left: 23px;
}
/* .bg {
    position: absolute;
    width: 928px;
    height: 742px;
    left: -8px;
    top: 159px;
    background: #f2f5f1;
} */
.contact-form {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.contact-form h2 {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 96px;
    margin-right: 500px;
}
.forms {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
::placeholder {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #c4c4c4;
}
input {
    width: 505px;
    height: 54px;
    margin-top: 27.5px;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: black
}
textarea {
    width: 505px;
    height: 186px;
    margin-top: 27.5px;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: black
}
.button-submit {
    display: flex;
    justify-content: center;
}
.submit {
    width: 295px;
    height: 55.5px;
    margin-top: 37.5px;
    background: #30abae;
    border-radius: 3px;
}
.bg-footer {
  height: 90px;
  width: 100%;
  background: teal;
  margin-top: 154px;
  display: flex;
  justify-content: center;
  align-items: center;
}