// variables
$font: "Cairo", sans-serif; // in place of: font-family: 'Chronicle Display';
$font-s: "Fira Sans", sans-serif; // in place of: font-family: 'Gilroy';
$primary: #fbd784;
$accent-color: #0b1d26;
$base: #ffffff;
$width: 100%;