@media (min-width: 320px) and (max-width: 768px) {
  html {
    width: 100%;
    background-size: cover;
  }
  body {
    background-size: auto;
  }
  .wrapper {
    width: 100% !important;
    overflow-x: hidden;
  }
  .progress-scroll {
    display: none;
  }
  .sidepanel {
    display: none;
  }
  .header .header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 30px;
  }
  .header .header__top .header__nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .header .header__top .header__nav .header__nav-link {
    font-size: 18px;
    padding-left: 0;
    margin-right: 50px;
    margin-left: 0;
    margin-bottom: 100px;
  }
  .header .header__top .header__nav-logo {
    width: 100px !important;
    margin-left: 0;
  }
  .nav-link_profile {
    position: absolute;
    bottom: 160px;
    right: -30px;
  }
  .main {
    margin: 0 auto;
  }
  .main .main__first-screen {
    height: 90vh;
    position: relative;
    width: 100%;
    padding: 0;
    margin-top: 0;
    padding-bottom: 0;
  }
  .main .main__first-screen .main__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin-top: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 0 !important;
    padding-bottom: 0;
    margin: 0 auto !important;
  }
  .main .main__first-screen .main__content .main__content-right img {
    width: 340px !important;
    height: auto;
  }
  .main__first-title {
    position: relative;
    font-family: "Fira Sans", sans-serif;
    margin-left: 107px;
    font-weight: 800;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FBD784;
    margin: 0 auto;
  }
  .main__second-title {
    font-family: "Cairo", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 50px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin: 30px auto;
    max-width: 400px;
  }
  .sidepanel {
    display: none;
    position: fixed;
    z-index: 3;
    top: 394px;
    left: 0;
    margin-left: 50px;
  }
  .section .section--reverse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
  }
  .main__content-left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__content-left .abstract2 {
    position: absolute;
    left: 0;
    font-size: 150px;
    top: 5.28%;
  }
  .main__c-left_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  footer {
    background: #0B1D26;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    padding: 200px 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer__logo {
    width: 30%;
    margin: auto;
  }
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__container .footer__categories {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .category-1,
  .category-2 {
    margin: 0 auto;
    padding-left: 20px;
  }
}
/*# sourceMappingURL=media.css.map */