@media (min-width: 0px) and (max-width: 768px) {
  html {
    width: 100% !important;
    background-size: cover;
  }

  body {
    background-size: auto;
  }

  .hidden-item {
    visibility: hidden;
  }

  .wrapper {
    width: 100% !important;
    overflow-x: hidden;
  }

  .progress-scroll {
    display: none;
  }

  .sidepanel {
    display: none;
  }

  .header .translate-row {
    width: 100px;
    position: absolute;
    right: 0;
  }
  .header .header__top {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
  }
  .header .header__top .header__top-link {
    display: inline-block;
  }
  .header .header__top .header__nav {
    display: flex;
    align-items: center;
    margin-top: 30px;
    justify-content: center;
    position: relative;
    align-content: center;
    flex-wrap: wrap;
    width: 80%;
  }
  .header .header__top .header__nav .header__nav-link {
    font-size: 18px;
    padding: 15px 30px;
    margin: 0 auto;
  }

  .header .header__top .header__nav-logo-mobile {
    width: 100px !important;
    margin-left: 0;
    margin: 0 auto;
    display: inline-block;
  }

  .main {
    margin: 0 auto;
  }
  .main .main__first-screen {
    height: 70vh;
    position: relative;
    width: 100%;
    padding: 0;
    margin-top: 100px;
    padding-bottom: 0;
  }
  .main .main__first-screen .main__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin-left: 0 !important;
    padding-bottom: 0;
    margin: 0 auto !important;
  }
  .main .main__first-screen .main__content .main__content-right {
    margin: 0 auto;
  }
  .main .main__first-screen .main__content .main__content-right img {
    width: 340px !important;
    height: auto;
  }

  .main__first-title {
    position: relative;
    margin-left: 0;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 6px;
    color: #fbd784;
    right: 0;
  }

  .main__second-title {
    font-size: 30px;
    line-height: 44px;
    color: #ffffff;
    margin: 30px auto;
    max-width: 460px;
    padding-left: 10px;
  }

  .sidepanel {
    display: none;
    position: fixed;
    z-index: 3;
    top: 394px;
    left: 0;
    margin-left: 50px;
  }

  .section {
    margin-top: 20px;
  }
  .section .section--reverse {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }

  .section__read-more {
    margin: 50px 0 50px 0;
  }
  .section__read-more .read-more {
    margin-left: 30px;
  }

  #section1 {
    margin-top: 2% !important;
  }

  #section2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .main__content-left {
    flex-direction: column;
    padding-top: 0;
    display: flex;
    align-items: center;
  }
  .main__content-left .abstract {
    font-size: 150px;
    line-height: 0;
    opacity: 1;
    color: rgba(185, 192, 196, 0.7411764706);
    transform: translate(-50px, 0);
    left: 50%;
  }
  .main__content-left .abstract1 {
    top: 60px;
  }
  .main__content-left .abstract2 {
    top: 60px;
  }
  .main__content-left .abstract3 {
    top: 60px;
  }
  .main__content-left .abstract5 {
    top: 60px;
  }
  .main__content-left .title--pos {
    top: 0;
    left: 0;
  }

  .main__c-left_wrap {
    display: flex;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    justify-content: center;
    align-items: center;
    margin: 140px auto;
    padding-right: 0;
  }
  .main__c-left_wrap .main__descr {
    font-size: 20px;
    line-height: 35px;
    max-width: 414px;
    padding: 22px;
    color: #ffffff;
  }

  footer {
    margin-top: 25px;
    background: #0b1d26;
    display: flex;
    height: auto;
    width: 100%;
    align-items: center;
    flex-grow: 0;
    padding: 0px;
    flex-direction: column;
  }
  footer .footer__logo {
    width: 30%;
    margin: auto;
  }
  footer .footer__copyright {
    margin: 50px 0 50px;
  }

  .footer__container {
    flex-direction: column;
  }
  .footer__container .footer__categories {
    flex-direction: column;
    align-items: center;
  }

  .category {
    margin: 0 0;
    text-align: center;
  }

  .footer-bottom {
    margin: 10px 0 10px;
  }

  footer .footer__copyright {
    margin: 20px 0 20px;
  }
}
@media (min-width: 769px) and (max-width: 1240px) {
  .wrapper {
    width: 100% !important;
    overflow-x: hidden !important;
  }

  .hidden-item {
    visibility: hidden;
  }

  body {
    margin: 0 auto;
    background-size: auto;
  }

  .progress-scroll {
    position: fixed;
    top: 190px;
    right: 10px;
  }

  .header .translate-row {
    position: absolute;
    right: 35px;
    top: 40px;
  }
  .header .header__top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header .header__top .header__top-link {
    display: none;
  }
  .header .header__top .header__nav {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0px;
    position: relative;
  }
  .header .header__top .header__nav .header__nav-link {
    margin: 21px 10px;
    padding: 20px;
  }

  .header .header__top .header__top-link-moblie {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    margin: 0 auto;
  }

  .header .header__top .header__nav-logo-mobile {
    display: block;
    margin: 0 auto;
    width: 100px;
  }

  .main .main__first-screen {
    width: 100%;
    display: flex;
    padding: 0;
    margin-top: 130px;
    height: 100vh;
    flex-direction: column;
  }
  .main .main__first-screen .main__content {
    justify-content: center;
    align-items: flex-start;
    margin-left: 50px;
    padding-left: 0;
    margin: 0 auto;
  }
  .main .main__first-screen .main__content .main__first-title {
    margin: 0 auto;
    right: 0;
  }
  .main .main__first-screen .main__content .sidepanel {
    display: none;
    position: absolute;
    z-index: 3;
    top: 400px;
    left: 0;
    margin-left: 10px;
  }
  .main .main__first-screen .main__content .sidepanel .socials {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: auto;
    margin-bottom: 0;
  }
  .main .main__first-screen .main__content .sidepanel .socials .social__link {
    font-size: 18px;
    line-height: 22px;
    transform: rotate(0);
    color: #ffffff;
  }
  .main .main__first-screen .main__content .sidepanel .socials .social__link .social__icon {
    margin-left: 30px;
  }
  .main .main__c-left_wrap {
    align-items: center;
    margin: 0 auto;
    padding-bottom: 50px;
  }
  .main .main__second-title {
    max-width: 640px;
    margin: 30px auto;
    font-size: 31px;
    padding: 0 55px;
    line-height: 54px;
    text-align: center;
  }
  .main .main__content-left {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center !important;
    margin-bottom: 0;
    padding-left: 0;
    padding-top: 200px;
  }
  .main .main__content-left .m--width {
    font-size: 38px !important;
  }
  .main .main__content-left .abstract {
    opacity: 0.6;
    left: 50%;
    top: 0;
    transform: translate(-50px, 0px);
  }
  .main .main__content-left .abstract1 {
    position: absolute;
  }
  .main .main__content-left .abstract2 {
    position: absolute;
  }
  .main .main__content-left .abstract3 {
    position: absolute;
  }
  .main .main__content-left .title--pos {
    margin: 50px 0;
    left: 25px;
  }
  .main .section {
    margin-top: 0px;
    margin: 0 auto;
  }
  .main .section .section--reverse {
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }
  .main .section__read-more .read-more {
    margin: 50px 0 50px !important;
  }
  .main .main__content-right {
    margin: 0 auto;
  }
  .main .main__content-right img {
    overflow: overlay;
  }

  .footer__categories {
    justify-content: space-around;
    width: calc((100% - 30px) / 1) !important;
    flex-wrap: wrap;
  }
  .footer__categories .category {
    margin: 30px 0;
  }
}
@media (min-width: 1241px) and (max-width: 1440px) {
  .wrapper {
    width: 100% !important;
  }

  .main .main__first-screen .main__content {
    margin-top: 7rem;
  }
  .main .main__first-screen .main__content .main__second-title {
    max-width: 770px;
    font-size: 33px;
    line-height: 45px;
  }

  .progress-scroll {
    top: 225px;
    right: 10px;
  }

  .sidepanel {
    top: 255px;
    margin-left: 0;
  }

  .main__content-left {
    display: flex;
    align-items: center;
  }
  .main__content-left .abstract1 {
    position: absolute;
    left: 60px;
    top: 60px;
  }
  .main__content-left .abstract2 {
    position: absolute;
    left: 51%;
    top: 80px;
  }
  .main__content-left .abstract3 {
    position: absolute;
    left: 76px;
    top: 60px;
  }
}
@media (min-width: 1441px) and (max-width: 2560px) {
  .wrapper {
    width: 100% !important;
  }

  .main .main__first-screen .main__content {
    margin-top: 8rem;
  }

  .progress-scroll {
    top: 225px;
    right: 20px;
  }

  .sidepanel {
    top: 255px;
    margin-left: 0;
  }
}/*# sourceMappingURL=media.css.map */