@import './mobile.scss';
@import './tablet';
// mobile
@media (min-width: 0px) and (max-width: 600px) {
    html {
        width: 100% !important;
        background-size: cover;
    }
    body {
        background-size: auto;
    }
    .wrapper {
        width: 100% !important;
        overflow-x: hidden;
    }
    .progress-scroll {
        display: none;
    }
    .sidepanel {
        display: none;
    }
    .header {
        .translate-row {
            position: absolute;
            right: 20px;
            top: -153px;
        }
        .header__top {
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: center;
            padding-top: 30px;
            .header__nav {
                width: 100%;
                display: flex;
                align-items: center;
                margin-top: 30px;
                justify-content: center;
                position: relative;
                align-content: center;
                .header__nav-link {
                    font-size: 18px;
                    padding-left: 0;
                    margin-right: 40px;
                    margin-left: 0;
                    margin-bottom: 100px;
                }
            }
        }
    }
    .header .header__top .header__nav-logo {
        width: 100px !important;
        margin-left: 0;
    }
    .nav-link_profile {
        position: absolute;
        bottom: 160px;
        right: -30px;
    }
    .main {
        margin: 0 auto;
        .main__first-screen {
            height: 40vh;
            position: relative;
            width: 100%;
            padding: 0;
            margin-top: 0;
            padding-bottom: 0;
            .main__content {
                display: flex;
                align-items: center;
                flex-direction: column;
                width: 100%;
                justify-content: center;
                margin-left: 0 !important;
                padding-bottom: 0;
                margin: 0 auto !important;
                .main__content-right {
                    margin: 0 auto;
                    img {
                        width: 340px !important;
                        height: auto;
                    }
                }
            }
        }
    }
    .main__first-title {
        position: relative;
        margin-left: 107px;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 6px;
        color: #FBD784;
    }
    .main__second-title {
        font-size: 38px;
        line-height: 60px;
        color: #FFFFFF;
        margin: 30px auto;
        max-width: 400px;
        padding-left: 10px;
    }
    .sidepanel {
        display: none;
        position: fixed;
        z-index: 3;
        top: 394px;
        left: 0;
        margin-left: 50px;
    }
    .section {
        .section--reverse {
            display: flex;
            flex-direction: column;
            margin-left: auto;
        }
    }
    .section__read-more {
        margin: 50px 0 50px 0;
        .read-more {
            margin-left: 30px;
        }
    }
    .main__content-left {
        flex-direction: column;
        padding-top: 0;
        .abstract {
            font-size: 150px;
            line-height: 0;
            opacity: 1;
            color: #b9c0c4bd;
        }
        .abstract1 {
            left: 40%;
            top: 170px;
        }
        .abstract2 {
            left: 40%;
            top: 170px;
        }
        .abstract3 {
            left: 40%;
            top: 170px;
        }
    }
    .main__c-left_wrap {
        margin-top: 140px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        align-items: center;
        .main__descr {
            font-size: 20px;
            line-height: 35px;
            max-width: 414px;
            padding: 22px;
            color: #FFFFFF;
        }
    }
    footer {
        background: #0B1D26;
        display: flex;
        height: auto;
        width: 100%;
        align-items: center;
        flex-grow: 0;
        padding: 0px;
        flex-direction: column;
        .footer__logo {
            width: 30%;
            margin: auto;
        }
        .footer__copyright {
            margin: 50px 0 50px;
        }
    }
    .footer__container {
        flex-direction: column;
        .footer__categories {
            flex-direction: column;
            align-items: center;
        }
    }
    .category {
        margin: 0 0;
        text-align: center;
    }
}

// tablet to laptop
@media (min-width: 600px) and (max-width: 1240px) {
    .wrapper {
        width: 100% !important;
        overflow-x: hidden !important;
    }
    body {
        margin: 0 auto;
        background-size: auto;
    }
    .progress-scroll {
        position: fixed;
        top: 190px;
        right: 10px;
    }
    .main {
        .main__first-screen {
            width: 100%;
            display: flex;
            padding: 0;
            margin-top: 120px;
            height: 60vh;
            flex-direction: column;
            .main__content {
                justify-content: center;
                align-items: flex-start;
                margin-left: 50px;
                padding-left: 0;
                margin-top: 0 !important;
                margin-bottom: 0 !important;
                margin-left: 0 !important;
                .main__first-title {
                    margin-left: 0 !important;
                    margin: 0 auto !important;
                }
                .sidepanel {
                    display: none;
                    position: absolute;
                    z-index: 3;
                    top: 400px;
                    left: 0;
                    margin-left: 10px;
                    .socials {
                        display: flex;
                        align-items: center;
                        flex-direction: row;
                        width: auto;
                        margin-bottom: 0;
                        .social__link {
                            font-size: 18px;
                            line-height: 22px;
                            transform: rotate(0);
                            color: #FFFFFF;
                            .social__icon {
                                margin-left: 30px;
                            }
                        }
                    }
                }
            }
        }
        .main__c-left_wrap {
            align-items: center;
            margin: 0 auto;
        }
        .main__second-title {
            max-width: 640px;
            margin: 30px auto;
            font-size: 58px;
            line-height: 80px;
        }
        .main__content-left {
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center !important;
            margin-bottom: 0;
            padding-left: 0;
            padding-top: 200px;
            .m--width {
                font-size: 44px !important;
            }
            .abstract {
                opacity: 0.6;
            }
            .abstract1 {
                position: absolute;
                left: 43%;
                top: 0;
            }
            .abstract2 {
                position: absolute;
                left: 43%;
                top: 0;
            }
            .abstract3 {
                position: absolute;
                left: 43%;
                top: 0;
            }
            .title--pos {
                margin: 50px 0;
            }
        }
        .section {
            margin-top: 0px;
            margin: 0 auto;
            .section--reverse {
                flex-direction: column;
                justify-content: center;
                margin: 0 auto;
            }
        }
        .section__read-more {
            .read-more {
                margin: 50px 0 50px !important;
            }
        }
        .main__content-right {
            margin: 0 auto;
            img {
                overflow: overlay;
            }
        }
    }
    .footer__categories {
        justify-content: space-around;
        width: 530px !important;
        flex-wrap: wrap;
        .category {
            margin: 30px 0;
        }
    }
}

//tablet to laptop L
@media (min-width: 1241px) and (max-width: 1440px) {
    .wrapper {
        width: 100% !important;
    }
    .main {
        .main__first-screen {
            .main__content {
                margin-left: 22%;
                margin-top: 8rem;
                .main__second-title {
                    font-size: 75px;
                }
            }
        }
    }
    .progress-scroll {
        top: 225px;
        right: 10px;
    }
    .sidepanel {
        top: 255px;
        margin-left: 0;
    }
    .main__content-left .abstract1 {
        position: absolute;
        left: 60px;
        top: 205px;
    }
    .main__content-left .abstract2 {
        position: absolute;
        left: 51%;
        top: 220px;
    }
    .main__content-left .abstract3 {
        position: absolute;
        left: 76px;
        top: 200px;
    }
}

//laptop L to 4k
@media (min-width: 1441px) and (max-width: 2560px) {
    .wrapper {
        width: 100% !important;
    }
    .main {
        .main__first-screen {
            .main__content {
                margin-left: 27%;
                margin-top: 8rem;
            }
        }
    }
    .progress-scroll {
        top: 225px;
        right: 10px;
    }
    .sidepanel {
        top: 255px;
        margin-left: 0;
    }
}