@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&display=swap");
// variables
$font: "Cairo",
sans-serif; // in place of: font-family: 'Chronicle Display';
$font-s: "Fira Sans",
sans-serif; // in place of: font-family: 'Gilroy';
$primary: #fbd784;
$bg: #0b1d26;
$base: #ffffff;
$width: 100%;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main__content-right img {
    max-width: 566px;
    max-height: 720px;
    background-size: contain;
}

.wrapper {
    max-width: 1920px !important;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    height: auto;
    width: 100%;
    font-size: 1em;
    color: $base;
    background: url(/Projects/Morning-star/source/img/banner.png) no-repeat top $bg;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.2);
    min-height: 100%;
    height: 100%;
    min-height: max-content;
    font-family: $font;
    background-size: contain;
}

html {
    height: auto;
    min-height: 100%;
    margin: 0 auto;
    scroll-behavior: smooth;
    --scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

a {
    color: $base;
    text-decoration: none;
}

a:active {
    color: rgb(51, 43, 135);
}

ul li {
    list-style: none;
}

// Header
.header {
    width: 100%;
    .header__top {
        display: flex;
        align-items: flex-end;
        .header__nav {
            width: 74%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 70px;
            position: relative;
            .header__nav-link {
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 22px;
                padding-left: 0;
                margin-right: 90px;
                margin-left: -36px;
                &:hover {
                    text-decoration: underline;
                    color: rgb(217, 209, 209);
                }
            }
        }
        .header__nav-logo {
            display: inline;
            width: 16rem;
            margin-left: 50px;
        }
    }
    .translate-row {
        position: absolute;
        right: 50px;
    }
}

// Main
.main {
    display: block;
    height: 100%;
    font-family: "Cairo", sans-serif;
    .main__first-screen {
        position: relative;
        width: 100%;
        height: 100vh;
        padding: 0;
        margin-top: 50px;
        .main__content {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            margin-left: 31rem;
            margin-top: 12rem;
        }
    }
}

.main__first-title {
    position: relative;
    font-family: $font-s;
    margin-left: 107px;
    font-weight: 800;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: $primary;
    &::before {
        content: "";
        position: absolute;
        width: 72px;
        height: 2px;
        left: -110px;
        top: 10px;
        background: $primary;
    }
}

.main__second-title {
    font-family: $font;
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 60px;
    color: $base;
    margin: 30px 0px;
    max-width: 966px;
}

.sidepanel {
    display: flex;
    position: fixed;
    z-index: 3;
    top: 315px;
    left: 0;
    margin-left: 30px;
    .socials {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
        margin-bottom: 20px;
        a:hover {
            color: #669999;
        }
        .social__icon {
            margin-top: 45px;
            img {
                width: 26px;
                height: auto;
            }
        }
        .social__link {
            font-family: $font-s;
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            color: $base;
            transform: rotate(90deg);
            margin-bottom: 40px;
        }
    }
}

.progress-scroll {
    z-index: 3;
    position: fixed;
    top: 285px;
    right: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    #arrow-up {
        margin-bottom: 20px;
        transform: rotate(180deg);
    }
    #arrow-down {
        margin-top: 20px;
    }
    .link--scroll {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        // padding: 40px 0px 0 0px;
        // margin-left: -90px;
        padding: 33px 30px 0px 0px;
        margin-left: -90px;
        cursor: pointer;
        text-align: center;
    }
    span {
        align-items: center;
        position: relative;
        display: flex;
        flex-direction: column;
        font-family: $font-s;
        font-size: 20px;
        text-align: right;
        color: $base;
        margin: -39px 0 0px 0;
    }
    .scroll {
        position: relative;
        width: 3px;
        height: auto;
        left: 0px;
        top: 0;
        background: $base;
        opacity: 1;
    }
}

// section
section {
    margin-top: 22%;
}

.bg-shadow {
    background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0b1d26 61.38%);
}

section>img {
    display: block;
    min-width: 566px;
    max-width: 100%;
    max-height: 720px;
    min-height: 100%;
    background-size: contain;
}

#section2 {
    padding-top: 0;
    padding-bottom: 15rem;
}

.section {
    align-items: stretch;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .section--reverse {
        display: flex;
        flex-direction: row-reverse;
        margin-left: 0;
    }
}

.main__c-left_wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.main__content-left {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    padding-top: 130px;
    .title--pos {
        margin-top: 100px;
    }
    .abstract {
        font-family: $font-s;
        font-style: normal;
        font-weight: 700;
        font-size: 240px;
        line-height: 240px;
        color: $base;
        opacity: 0.1;
        z-index: 4;
    }
    .abstract1 {
        position: absolute;
        left: 11%;
        top: 60px;
    }
    .abstract2 {
        position: absolute;
        left: 54.51%;
        top: 80px;
    }
    .abstract3 {
        position: absolute;
        left: 12%;
        top: 60px;
    }
}

.section__read-more {
    margin-top: 40px;
    .read-more {
        display: flex;
        color: $primary;
        font-size: 18px;
        line-height: 22px;
        font-family: $font-s;
    }
    svg {
        margin-left: 20px;
    }
}

.main__descr {
    font-family: $font-s;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    max-width: 504px;
    color: $base;
}

.m--width {
    font-style: normal;
    max-width: 578px;
    font-size: 64px;
    margin: 30px 0;
}

.main__content-right {
    display: flex;
    min-height: auto;
    max-width: fit-content;
}

footer {
    background: $bg;
    display: flex;
    height: auto;
    width: 100% !important;
    flex: none;
    order: 3;
    flex-grow: 0;
    // padding: 240px 0px;
    margin-top: 50px;
    .footer__container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        .footer__categories {
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            ul li {
                margin-top: 40px;
            }
        }
    }
    .footer__copyright {
        // margin-top: 235px;
        font-family: $font-s;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 32px;
        color: $base;
        opacity: 0.5;
        transition: opacity 1.5s ease;
    }
}

.category {
    margin: 0 0;
    .category-title {
        margin-bottom: 30px;
        a {
            color: $primary;
            font-family: $font-s;
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
        }
    }
    ul li {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 32px;
        font-family: $font-s;
        color: $base;
    }
}

.footer-bottom {
    display: flex;
    align-items: center;
    margin: 50px 0 50px;
}

// hovers
.read-more:hover {
    color: #86aeae;
}

.link--scroll:hover,
.translate-link:hover,
span:hover {
    color: $primary;
}

.category-title a:hover {
    color: #669999 !important;
}

.category>li>a:hover {
    text-decoration: underline;
    color: $primary;
}

.footer__copyright:hover {
    opacity: 1;
}