@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: auto;
  width: 100%;
  font-size: 1em;
  color: #ffffff;
  background: url(/Projects/Morning-star/source/img/banner.png) no-repeat top #0b1d26;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.2);
  min-height: 100%;
  height: 100%;
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
  font-family: "Cairo", sans-serif;
  background-size: contain;
}

html {
  height: auto;
  min-height: 100%;
  margin: 0 auto;
  scroll-behavior: smooth;
  --scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:active {
  color: rgb(69, 74, 78);
}

ul ol {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  width: 100%;
}
.header .header__top {
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
}
.header .header__top .header__nav {
  width: 1500px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 70px;
  position: relative;
}
.header .header__top .header__nav .header__nav-link {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  padding: 15px 15px;
  margin-right: 40px;
}
.header .header__top .header__nav .header__nav-link:hover {
  text-decoration: underline;
  color: rgb(217, 209, 209);
}
.header .header__top .header__nav-logo {
  display: inline;
  width: 16rem;
  margin-left: 50px;
}
.header .header__top .header__nav-logo-mobile {
  display: none;
  width: 16rem;
  margin-left: 50px;
}
.header .translate-row {
  width: 100px;
}

/*  BURGER  */
#hamburger {
  display: block;
  position: fixed;
  right: 30px;
  top: 30px;
  border: none;
  background: none;
  cursor: pointer;
  z-index: 4;
  transition: all ease 2s;
}

.menu-btn {
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 5;
  bottom: 140px;
  right: 85%;
  overflow: hidden;
}

.menu-btn span {
  width: 30px;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  transition: all 0.5s;
}

.menu-btn span:nth-of-type(2) {
  top: calc(40% - 5px);
}

.menu-btn span:nth-of-type(3) {
  top: calc(60% + 5px);
}

.menu-btn::after {
  margin-left: 10px;
  border: none;
}

#hamburger:focus {
  outline: none;
}

.menu {
  position: absolute;
  left: 100%;
  top: 0;
  visibility: hidden;
  width: 100vw;
  height: 100vh;
  border-radius: 20px;
  justify-content: space-evenly;
  flex-direction: column;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  transform: translateX(-100%);
  transition: transform 0.5s;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
}

.menu.active {
  visibility: visible;
  left: 0;
  width: 100%;
  position: fixed;
  height: 100%;
  text-decoration: underline;
  z-index: 2;
  display: flex;
  transition: height 1s 1s linear;
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  background: rgba(188, 194, 194, 0.86);
}

/* Меняем гамбургер иконку, когда меню открыто */
.menu-btn.active span:nth-of-type(1) {
  display: none;
}

.menu-btn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}

.menu-btn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}

nav {
  display: none;
}

.menuLink {
  display: flex;
  justify-content: center;
  font-family: inherit;
  font-size: 24px;
  font-weight: bold;
  font-style: oblique;
  color: #554f4f;
}

.menuLink:hover {
  color: rgba(10, 10, 10, 0.424);
  background: rgba(201, 209, 209, 0.664);
}

/*  BURGER  */
.menu {
  display: none;
}

.menu-btn {
  display: none;
}

.hamburger span {
  display: none;
  flex-direction: column-reverse;
  align-items: center;
  align-self: center;
}

#hamburger:focus {
  outline: none;
}

.banner button:hover,
.left button:hover,
.our-partner button:hover,
.section-left button:hover {
  background: rgb(29, 95, 100);
}

.main {
  display: block;
  height: 100%;
  font-family: "Cairo", sans-serif;
}
.main .main__first-screen {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin-top: 50px;
}
.main .main__first-screen .main__content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  align-items: center;
  margin-top: 8rem;
}
.main .main__first-screen .main__content .main__content-right img {
  max-width: 100%;
  min-height: 100%;
  height: auto;
  display: block;
  background-size: contain;
}

.bg-shadow {
  background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0b1d26 61.38%);
}

.main__first-title {
  position: relative;
  right: 270px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #fbd784;
}
.main__first-title::before {
  content: "";
  position: absolute;
  width: 72px;
  height: 2px;
  left: -110px;
  top: 10px;
  background: #fbd784;
}

.main__second-title {
  font-family: "Cairo", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 2;
  color: #ffffff;
  margin: 30px 0px;
  max-width: 966px;
}

.main-second__list {
  font-size: 1.2em;
}
.main-second__list .main-second__list-item {
  margin-top: 20px;
}
.main-second__list .main-second__list-item .main-second__list-link {
  color: #8c9396;
  transition: color 330ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  margin-left: 10px;
}
.main-second__list .main-second__list-item .main-second__list-link:hover {
  color: #fbd784;
}
.main-second__list .main-second__list-item .main-second__list-link:focus {
  color: #fbd784;
}

.main__c-left_wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.main__content-left {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  padding-top: 150px;
}
.main__content-left .title--pos {
  margin-top: 0;
  left: 88px;
  max-width: 600px;
}
.main__content-left .abstract {
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 240px;
  line-height: 240px;
  color: #ffffff;
  opacity: 0.1;
  z-index: 4;
  position: absolute;
}
.main__content-left .abstract1 {
  left: 11.5%;
  top: 120px;
}
.main__content-left .abstract2 {
  left: 44%;
  top: 0;
}
.main__content-left .abstract3 {
  left: 12%;
  top: 11%;
}
.main__content-left .abstract5 {
  left: 10%;
  top: -50px;
}
.main__content-left .abstract6 {
  left: 11%;
  top: 0;
}
.main__content-left .abstract7 {
  left: 12%;
  top: 0;
}
.main__content-left .abstract9 {
  left: 12%;
  top: 60px;
}

.main__descr {
  display: flex;
  flex-direction: column;
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.8;
  max-width: 575px;
  color: #ffffff;
}
.main__descr .main__descr-link {
  display: inline-block;
  text-decoration: underline;
  cursor: pointer;
}
.main__descr .main__descr-link:hover {
  color: rgb(30, 115, 155);
}
.main__descr .main__descr-item {
  margin-bottom: 20px;
  color: #ffffff;
  list-style: inside;
}
.main__descr .main__descr-item .main__descr-phone {
  text-decoration: underline;
  transition: color 330ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.main__descr .main__descr-phone:hover {
  cursor: pointer;
  color: #fbd784;
}

.sidepanel {
  display: flex;
  position: fixed;
  z-index: 3;
  top: 315px;
  left: 0;
  margin-left: 30px;
}
.sidepanel .socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  margin-bottom: 20px;
}
.sidepanel .socials .social__icon {
  margin-top: 45px;
}
.sidepanel .socials .social__icon .icon-instagram {
  color: white;
  fill: currentColor;
  transition: color 2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.sidepanel .socials .social__icon .icon-instagram:hover {
  color: #e19a30;
}
.sidepanel .socials .social__icon .icon-youtube {
  color: white;
  fill: currentColor;
  transition: color 2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.sidepanel .socials .social__icon .icon-youtube:hover {
  color: red;
}
.sidepanel .socials .social__icon .icon-facebook {
  color: white;
  fill: currentColor;
  transition: color 2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.sidepanel .socials .social__icon .icon-facebook:hover {
  color: blue;
}
.sidepanel .socials .social__link {
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  transform: rotate(90deg);
  margin-bottom: 40px;
}

.--main-column {
  display: flex;
  justify-content: space-evenly;
  padding-top: 150px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.--main-descr-option {
  display: block;
  margin-top: 20px;
  max-width: 1050px;
  -moz-columns: 1;
       columns: 1;
  margin-bottom: 40px;
}

.main__list {
  margin: 0;
  padding: 0;
}

.main__list-item {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-weight: 100;
}
.main__list-item b {
  color: rgba(184, 70, 70, 0.831);
  font-size: 20px;
}

.wrap-content-service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 55px;
}

.main-list {
  display: flex;
  justify-content: center;
  width: 83.3333333333%;
  margin-top: 50px;
}

.main-list__item:not(:last-child) {
  margin-right: 30px;
}

.main-list__title {
  font-size: 26px;
  margin-bottom: 20px;
}

.main-list__descr {
  max-width: 700px;
}

.section {
  margin-top: 20%;
  align-items: center;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.section .section--reverse {
  display: flex;
  flex-direction: row-reverse;
}

#section1 {
  margin-top: 22%;
}

.content-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px;
}

.wrap-img {
  display: flex;
  justify-content: center;
}

.m--width {
  font-style: normal;
  max-width: 578px;
  font-size: 22px;
  margin: 30px 0;
}

.section-address {
  color: #8c9396;
  transition: color 330ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.section-address:hover,
.section-address:focus {
  color: #fbd784;
}

.progress-scroll {
  z-index: 3;
  position: fixed;
  top: 285px;
  right: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.progress-scroll #arrow-up {
  transform: rotate(180deg);
}
.progress-scroll .link--scroll {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding: 18px;
  margin-left: -120px;
  cursor: pointer;
  text-align: center;
}
.progress-scroll .scroll {
  position: relative;
  width: 3px;
  height: auto;
  left: 0px;
  top: 0;
  background: #ffffff;
  opacity: 1;
}

.social__link:hover,
.social__link:focus {
  color: #fbd784 !important;
}

.link--scroll:hover,
.link--scroll:focus,
.translate-link:hover,
.translate-link:focus,
span:hover,
span:focus {
  color: #fbd784;
}

.swiper {
  height: auto;
}

.swiper-wrapper {
  margin: 0 auto;
}

.swiper-slide {
  background: #0b1d26;
  width: 1920px;
  height: 100vh !important;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-size: cover;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin-left: 10px;
  background: darkgrey;
  width: 20px;
  height: 20px;
}

footer {
  background: #0b1d26;
  display: flex;
  height: auto;
  width: 100% !important;
  flex: none;
  margin-top: 50px;
}
footer .footer__categories {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  width: 100%;
}
footer .footer__categories ul li {
  margin-top: 40px;
}
footer .footer__copyright {
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  opacity: 0.5;
  transition: opacity 1.5s ease;
  cursor: pointer;
}

.category {
  display: flex;
  justify-content: space-evenly;
  margin: 0 0;
  width: 100%;
}
.category .category-item {
  display: flex;
  flex-direction: column;
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}
.category .category-item .category-link {
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  font-family: "Cairo", sans-serif;
  padding-top: 22px;
}
.category .category-title {
  margin-bottom: 30px;
  color: #fbd784;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0 50px;
}

.category-title:hover,
.category-title:focus {
  color: #669999;
  text-decoration: underline;
}

.category-link:hover,
.category-link:focus {
  text-decoration: underline;
  color: #fbd784 !important;
}

.footer__copyright:hover {
  opacity: 1;
}

@media (min-width: 0px) and (max-width: 768px) {
  html {
    width: 100% !important;
    background-size: cover;
  }

  body {
    background-size: auto;
  }

  .hidden-item {
    visibility: hidden;
  }

  .wrapper {
    width: 100% !important;
    overflow-x: hidden;
  }

  .progress-scroll {
    display: none;
  }

  .sidepanel {
    display: none;
  }

  .header .translate-row {
    width: 100px;
    position: absolute;
    top: 50px;
    left: 30px;
  }
  .header .header__top {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
  }
  .header .header__top .header__top-link {
    display: inline-block;
  }
  .header .header__top .header__nav {
    display: none;
    align-items: center;
    margin-top: 30px;
    justify-content: center;
    position: relative;
    align-content: center;
    flex-wrap: wrap;
    width: 80%;
  }
  .header .header__top .header__nav .header__nav-link {
    font-size: 18px;
    padding: 15px 30px;
    margin: 0 auto;
  }

  .header .header__top .header__nav-logo-mobile {
    width: 100px !important;
    margin-left: 0;
    margin: 0 auto;
    display: inline-block;
  }

  .header .header__top .header__top-link {
    display: none;
  }

  .main {
    margin: 0 auto;
  }
  .main .main__first-screen {
    height: 70vh;
    position: relative;
    width: 100%;
    padding: 0;
    margin-top: 100px;
    padding-bottom: 0;
  }
  .main .main__first-screen .main__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin-left: 0 !important;
    padding-bottom: 0;
    margin: 0 auto !important;
  }
  .main .main__first-screen .main__content .main__content-right {
    margin: 0 auto;
  }
  .main .main__first-screen .main__content .main__content-right img {
    width: 340px !important;
    height: auto;
  }

  .main__first-title {
    position: relative;
    margin-left: 0;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 6px;
    color: #fbd784;
    right: 0;
  }

  .main__second-title {
    font-size: 30px;
    line-height: 44px;
    color: #ffffff;
    margin: 30px auto;
    max-width: 460px;
    padding-left: 10px;
  }

  .sidepanel {
    display: none;
    position: fixed;
    z-index: 3;
    top: 394px;
    left: 0;
    margin-left: 50px;
  }

  .section {
    margin-top: 20px;
  }
  .section .section--reverse {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-top: 60px;
  }

  .section__read-more {
    margin: 50px 0 50px 0;
  }
  .section__read-more .read-more {
    margin-left: 30px;
  }

  #section1 {
    margin-top: 2% !important;
  }

  #section2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .main__content-left {
    flex-direction: column;
    padding-top: 0;
    display: flex;
    align-items: center;
  }
  .main__content-left .abstract {
    position: absolute;
    font-size: 150px;
    line-height: 0;
    opacity: 1;
    color: rgba(68, 74, 78, 0.81);
    transform: translate(-50px, 0);
    left: 50%;
  }
  .main__content-left .abstract1 {
    top: 60px;
  }
  .main__content-left .abstract2 {
    top: 0;
  }
  .main__content-left .abstract3 {
    top: 60px;
  }
  .main__content-left .abstract5 {
    top: 60px;
  }
  .main__content-left .abstract6 {
    top: 60px;
  }
  .main__content-left .abstract7 {
    top: 60px;
  }
  .main__content-left .title--pos {
    top: 0;
    left: 0;
  }

  .main__c-left_wrap {
    display: flex;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    justify-content: center;
    align-items: center;
    margin: 140px auto;
    padding-right: 0;
  }
  .main__c-left_wrap .main__descr {
    font-size: 20px;
    line-height: 35px;
    max-width: 500px;
    padding: 22px;
    color: #ffffff;
  }

  .main-list {
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .main-list .main-list-item {
    font-size: 23px;
  }
  .main-list .main-list__descr {
    margin-bottom: 30px;
    font-size: 21px;
  }

  footer {
    margin-top: 25px;
    background: #0b1d26;
    display: flex;
    height: auto;
    width: 100%;
    align-items: center;
    flex-grow: 0;
    padding: 0px;
    flex-direction: column;
  }
  footer .footer__logo {
    width: 30%;
    margin: auto;
  }
  footer .footer__copyright {
    margin: 50px 0 50px;
  }

  .footer__container {
    flex-direction: column;
  }
  .footer__container .footer__categories {
    flex-direction: column;
    align-items: center;
  }

  .category {
    margin: 0 auto;
    text-align: center;
  }
  .category .category-item {
    align-items: center;
  }

  .footer-bottom {
    margin: 10px 0 10px;
  }

  footer .footer__copyright {
    margin: 20px 0 20px;
  }
}
@media (min-width: 769px) and (max-width: 1240px) {
  .wrapper {
    width: 100% !important;
    overflow-x: hidden !important;
  }

  .hidden-item {
    visibility: hidden;
  }

  body {
    margin: 0 auto;
    background-size: auto;
  }

  .progress-scroll {
    display: none;
  }

  .header .translate-row {
    position: absolute;
    right: 35px;
    top: 40px;
  }
  .header .header__top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header .header__top .header__top-link {
    display: none;
  }
  .header .header__top .header__nav {
    width: 100%;
    display: none;
    justify-content: center;
    margin-top: 0px;
    position: relative;
  }
  .header .header__top .header__nav .header__nav-link {
    margin: 21px 10px;
    padding: 20px;
  }

  .header .header__top .header__top-link-moblie {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    margin: 0 auto;
  }

  .header .header__top .header__nav-logo-mobile {
    display: block;
    margin: 0 auto;
    width: 100px;
  }

  .main .main__first-screen {
    width: 100%;
    display: flex;
    padding: 0;
    margin-top: 130px;
    height: 100vh;
    flex-direction: column;
  }
  .main .main__first-screen .main__content {
    justify-content: center;
    align-items: flex-start;
    margin-left: 50px;
    padding-left: 0;
    margin: 0 auto;
  }
  .main .main__first-screen .main__content .main__first-title {
    margin: 0 auto;
    right: 0;
  }
  .main .main__first-screen .main__content .sidepanel {
    display: none;
    position: absolute;
    z-index: 3;
    top: 400px;
    left: 0;
    margin-left: 10px;
  }
  .main .main__first-screen .main__content .sidepanel .socials {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: auto;
    margin-bottom: 0;
  }
  .main .main__first-screen .main__content .sidepanel .socials .social__link {
    font-size: 18px;
    line-height: 22px;
    transform: rotate(0);
    color: #ffffff;
  }
  .main .main__first-screen .main__content .sidepanel .socials .social__link .social__icon {
    margin-left: 30px;
  }
  .main .main__c-left_wrap {
    align-items: center;
    margin: 0 auto;
    padding-bottom: 50px;
  }
  .main .main__second-title {
    max-width: 640px;
    margin: 30px auto;
    font-size: 31px;
    padding: 0 55px;
    line-height: 54px;
    text-align: center;
  }
  .main .main__content-left {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center !important;
    margin-bottom: 0;
    padding-left: 0;
    padding-top: 200px;
  }
  .main .main__content-left .m--width {
    font-size: 38px !important;
  }
  .main .main__content-left .abstract {
    opacity: 0.6;
    left: 50%;
    top: 150px;
    transform: translate(-50px, 0px);
  }
  .main .main__content-left .abstract1 {
    position: absolute;
  }
  .main .main__content-left .abstract2 {
    position: absolute;
  }
  .main .main__content-left .abstract3 {
    position: absolute;
  }
  .main .main__content-left .abstract6 {
    position: absolute;
    top: 70px;
  }
  .main .main__content-left .title--pos {
    margin: 50px 0;
    left: 25px;
  }
  .main .section {
    margin-top: 0px;
    margin: 0 auto;
  }
  .main .section .section--reverse {
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }
  .main .section__read-more .read-more {
    margin: 50px 0 50px !important;
  }
  .main .main__content-right {
    margin: 0 auto;
  }
  .main .main__content-right img {
    overflow: overlay;
  }

  .main-list {
    width: 100%;
  }

  .footer__categories {
    justify-content: space-around;
    width: calc((100% - 30px) / 1) !important;
    flex-wrap: wrap;
  }
  .footer__categories .category {
    margin: 30px 0;
  }
}
@media (min-width: 1241px) and (max-width: 1440px) {
  .wrapper {
    width: 100% !important;
  }

  .main .main__first-screen .main__content {
    margin-top: 7rem;
  }
  .main .main__first-screen .main__content .main__second-title {
    max-width: 770px;
    font-size: 33px;
    line-height: 45px;
  }

  .progress-scroll {
    top: 225px;
    right: 10px;
  }

  .sidepanel {
    top: 255px;
    margin-left: 0;
  }

  .main__content-left {
    display: flex;
    align-items: center;
  }
  .main__content-left .abstract1 {
    position: absolute;
    left: 60px;
    top: 60px;
  }
  .main__content-left .abstract2 {
    position: absolute;
    left: 51%;
    top: 80px;
  }
  .main__content-left .abstract3 {
    position: absolute;
    left: 76px;
    top: 60px;
  }
}
@media (min-width: 1441px) and (max-width: 2560px) {
  .wrapper {
    width: 100% !important;
  }

  .main .main__first-screen .main__content {
    margin-top: 8rem;
  }

  .progress-scroll {
    top: 225px;
    right: 20px;
  }

  .sidepanel {
    top: 255px;
    margin-left: 0;
  }
}/*# sourceMappingURL=style.css.map */