@import './sass/utils/variables';
@import './sass/base/common';

@import './sass/layouts/header';
@import './sass/layouts/menu';
@import './sass/layouts/main';
@import './sass/components/section';
@import './sass/layouts/progress-scroll';
@import './sass/layouts/slider';
@import './sass/layouts/footer';
@import './sass/utils/reviews';