.swiper {
    height: auto;
    width: 80vw;
}

.swiper-wrapper {
    margin: 0 auto;
}

.swiper-slide {
    width: 1000px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-size: content;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin-left: 10px;
    background: darkgrey;
    width: 20px;
    height: 20px;
}