:root {
    --darkbg: linear-gradient(76.3deg, rgb(183, 97, 97) -1.4%, rgb(0, 0, 0) 82.8%);
    --whiteclr: white;
    --lightbg: linear-gradient(76.3deg, rgb(183, 97, 97) -1.4%, rgb(0, 0, 0) 82.8%);
    --lightt: white;

    --toggleHeight: 16em;
    --toggleWidth: 30em;
    --toggleBtnRadius: 10em;

    --bgColor--night: black;
    --toggleBtn-bgColor--night: var(--bgColor--night);
    --mooncolor: rgba(222, 222, 19, 0.937);
    --bgColor--day: gray;
    --toggleBtn-bgColor--day: var(--bgColor--day);
}

body {
    transition: all 0.2s ease-in-out;
    background-image: linear-gradient(76.3deg, rgb(0, 0, 0) -1.4%, rgb(176, 176, 176) 82.8%);
    color: var(--whiteclr);
    text-align: center;
}
.light {
    background-image: var(--lightbg);
    color: var(--lightt);
}
.tdnn {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 10px;
    /*change size of toggle with font-size*/
    font-size: 17%;
    margin-top: 3em;
    height: var(--toggleHeight);
    width: var(--toggleWidth);
    border-radius: var(--toggleHeight);
    transition: all 500ms ease-in-out;
    background: var(--bgColor--night);
}
.day {
    background: rgb(183, 97, 97);
}
.moon {
    position: absolute;
    display: block;
    border-radius: 50%;
    transition: all 400ms ease-in-out;

    top: 3em;
    left: 3em;
    transform: rotate(-75deg);
    width: var(--toggleBtnRadius);
    height: var(--toggleBtnRadius);
    background: var(--bgColor--night);
    box-shadow: 3em 2.5em 0 0em var(--mooncolor) inset, rgba(255, 255, 255, 0.1) 0em -7em 0 -4.5em,
        rgba(255, 255, 255, 0.1) 3em 7em 0 -4.5em, rgba(255, 255, 255, 0.1) 2em 13em 0 -4em,
        rgba(255, 255, 255, 0.1) 6em 2em 0 -4.1em, rgba(255, 255, 255, 0.1) 8em 8em 0 -4.5em,
        rgba(255, 255, 255, 0.1) 6em 13em 0 -4.5em, rgba(255, 255, 255, 0.1) -4em 7em 0 -4.5em,
        rgba(255, 255, 255, 0.1) -1em 10em 0 -4.5em;
}
.sun {
    top: 4.5em;
    left: 18em;
    transform: rotate(0deg);
    width: 7em;
    height: 7em;
    background: #fff;
    box-shadow: 3em 3em 0 5em #fff inset, 0 -5em 0 -2.7em #fff, 3.5em -3.5em 0 -3em #fff, 5em 0 0 -2.7em #fff,
        3.5em 3.5em 0 -3em #fff, 0 5em 0 -2.7em #fff, -3.5em 3.5em 0 -3em #fff, -5em 0 0 -2.7em #fff,
        -3.5em -3.5em 0 -3em #fff;
}
