@media (min-width: 120px) and (max-width: 768px) {
  .parallax {
    width: 100vh;
  }
  .parallax p {
    width: 600px;
  }
  .content-wrap {
    width: 100vh;
  }
  .carousel {
    width: 100vh;
    height: 90px;
  }
}
