* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body html {
  width: 1920px;
  margin: 0 auto;
  overflow-x: hidden;
}

body > a {
  text-decoration: none;
}

ul > li {
  list-style: none;
}

header {
  display: flex;
  justify-content: space-around;
  min-height: 92px;
  align-items: center;
  padding: 0 20px;
}

header > span > a {
  font-size: 40px;
  font-family: "Raleway", sans-serif;
}

header > h3 {
  flex-basis: 218px;
}

nav {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}

nav > a {
  position: relative;
  color: black;
  margin-left: 40px;
  font-size: 25px;
}

nav a:hover {
  border-bottom: 1px solid #323335;
}

main {
  background: url(/Projects/New-sites/image/main.jpg) no-repeat center;
  height: 1620px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  font-size: 34px;
  color: white;
  position: static;
  padding: 20px;
  text-align: center;
}

.parallax {
  /* The image used */
  background-image: url("/Projects/New-sites/image/main.jpg");
  /* Set a specific height */
  min-height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax p {
  width: 860px;
}

main button {
  margin-top: 20px;
  width: 350px;
  height: 35px;
  color: white;
  background: black;
}

.content-wrap {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  background-image: url("/Projects/New-sites/image/footer.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  position: relative;
  display: flex;
  align-self: center;
  /* align-items: baseline; */
  justify-content: space-around;
  width: 100%;
}

.inf-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  align-content: center;
  margin-top: 20px;
}

.inf-item img {
  width: 100%;
  height: 30rem;
  background: no-repeat;
  overflow: hidden;
}

.inf-item h3 {
  display: flex;
  font-size: 40px;
  margin-top: 20px;
}

.inf-item p {
  display: flex;
  flex-wrap: wrap;
  width: 310px;
  font-size: 35px;
}

.inf-item button {
  position: relative;
  width: 250px;
  height: 60px;
  background: black;
  color: white;
  border: none;
  font-size: 20px;
  top: 0;
}

.carousel {
  border-radius: 30px;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 5s;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 218px;
}

.details p {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
}
