/* laptop 1800px */


/* bg-red -- 80% */

@media (max-width: 1800px) {
    .container {
        width: 100% !important;
    }
    .main__wrap {
        width: 100%;
        position: relative;
        display: flex;
        padding-top: 5rem;
        padding-bottom: 20rem;
    }
    .main__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 170px;
    }
    .first-title {
        max-width: 835px !important;
        margin: 0;
    }
    .first-title__span {
        right: 80px;
        font-size: 45px;
    }
    .content-section__bg_left {
        position: relative;
    }
    .content-section__bg_left::before {
        left: -200px;
        top: -25%;
    }
    .container-menu__footer {
        width: 100%;
    }
}