/* TABLET - 767px */

@media (min-width: 481px) and (max-width: 767px) {
    .container {
        width: 100%;
    }
}


/* Laptop - 1600px */


/* bg-green -- 90% */

@media screen and (max-width: 1600px) {
    .header__logo img {
        left: 175px;
    }
    .header-nav__menu {
        margin-left: 302px;
    }
    .main__info {
        margin-left: 170px;
        padding-top: 160px;
    }
    .first-title__span {
        right: 0;
        font-size: 45px;
    }
    .first-title::before {
        left: -25px;
    }
    .right-bg {
        padding-right: 30px;
    }
    .picture-bg {
        position: relative;
        right: -140px;
        top: 180px;
    }
}