.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

header{
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.typewriter-effect {
  display: flex;
  justify-content: center;
  font-family: monospace;
  font-size: 30px;
}

.typewriter-effect > .text {
  max-width: 0;
  animation: typing 4s steps(var(--characters)) infinite;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: typing 4s steps(var(--characters)) infinite;
}

.typewriter-effect:after {
  content: " |";
  animation: blink 3s infinite;
  animation-timing-function: step-end;
  -webkit-animation: blink 3s infinite;
}

@keyframes typing {
  75%,
  100% {
    max-width: calc(var(--characters) * 1ch);
  }
}

@keyframes blink {
  0%,
  75%,
  100% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
}
