body {
  width: 100%;
  /* color: rosybrown; */
  background: linear-gradient(
    45deg, black, transparent);
}
header {
  background: url(/Projects/For-me/spring_sakura_flower_blossom_floral_japanese_cherry_icon_127307.svg)
    no-repeat;
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: right;
  align-items: center;
}

.typewriter-effect {
  display: flex;
  justify-content: center;
  font-family: monospace;
  font-size: 40px;
}

.typewriter-effect > .text {
  max-width: 0;
  animation: typing 4s steps(var(--characters)) infinite;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: typing 4s steps(var(--characters)) infinite;
}

.typewriter-effect:after {
  content: " |";
  animation: blink 3s infinite;
  animation-timing-function: step-end;
  -webkit-animation: blink 3s infinite;
}

@keyframes typing {
  75%,
  100% {
    max-width: calc(var(--characters) * 1ch);
  }
}

@keyframes blink {
  0%,
  75%,
  100% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
}

ul li {
  list-style: none;
}

main {
  margin-top: 150px;
  background: url(/Projects/For-me/temple_japan_landmark_travel_architecture_traditional_ancient_icon_127306.svg) no-repeat;
  /* background-size: cover; */
}

main > ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin: 30px;
  box-shadow: -5px -5px 5px -5px rgb(34 60 80 / 60%) inset;
}
