* {
    box-sizing: border-box;
}

ul li {
    list-style: none;
}

.swiper {
    z-index: -3;
    width: 80%;
    height: 100vh;
}

a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

body {
    margin: 0 auto;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    background: url(./img/Big-forest.jpg) 100%;
    background-attachment: fixed;
}

html {
    scroll-behavior: smooth;
}

header {
    height: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
}


/* Bar */

.bar-top {
    position: relative;
}

#bar {
    top: -9.9em;
    right: 89%;
    padding: 0.5em;
    margin: 0;
    position: absolute;
    width: 9em;
    background: rgb(101, 126, 150);
    color: white;
    text-align: center;
    transition: top 1.5s ease-out 0.5s;
    border-radius: 40px;
}

#bar:hover {
    top: 20px;
}


/* DROPDOWN */


/* Dropdown Button */

.dropbtn {
    color: white;
    padding: 16px;
    cursor: pointer;
    position: relative;
    bottom: 45px;
    left: 40px;
    background-color: rgb(49, 61, 73);
    border: 1px solid black;
    text-align: center;
    font-size: 25px;
    width: 200px;
    border-radius: 20px;
}

.dropbtn::after {
    content: "\2304";
    margin-left: 10px;
}


/* Dropdown button on hover & focus */

.dropbtn:hover,
.dropbtn:focus {
    background-color: #33434e;
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
    top: 45px;
    left: 70%;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    border: 2px black solid;
    left: 3.5rem;
    top: 30px;
    z-index: 1;
    font-size: 25px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(9 28 46);
    font-weight: normal;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
    background: #636c66;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: lightgray;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px black solid;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: rgb(153, 149, 149);
}


/* Show the dropdown menu */

.show {
    display: block;
}


/* first screen  */

.first-screen {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: url(/Portfolio/images/Big-forest.jpg) no-repeat 100%/cover;
}

.first-preview {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.first-preview>h1 {
    font-size: 3rem;
}

.first-preview-btn {
    display: flex;
    justify-content: space-evenly;
    width: 500px;
}

.first-preview-btn a {
    padding: 30px 80px;
    color: white;
    background: transparent;
    font-size: 16px;
    border-width: 2px;
    border-style: outset;
    border-color: (rgb(111, 110, 110), rgb(14, 13, 13));
    border-image: initial;
    transition: all 2s ease;
}

.first-preview-btn a:hover {
    background: rgb(255, 255, 255);
    color: #000;
}

.first-screen-btn {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50px;
    font-size: 16px;
    margin-top: 28%;
    transition: all 5s ease-in-out;
}

.about {
    padding-top: 120px
}

.about__wrapper {
    display: grid;
    grid-template-columns: 400px 670px;
    grid-template-rows: minmax(245px, auto) minmax(255px, auto);
    grid-auto-rows: minmax(245px, auto);
    -moz-column-gap: 70px;
    column-gap: 70px;
    row-gap: 40px
}

.about__photo {
    grid-row: 1/3
}

.about__photo img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.about__descr {
    padding-top: 6px
}

.about__descr .divider {
    margin: 0 auto;
}

.about__title {
    position: relative;
    padding: 1px 0 0 12px
}

.about__title:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -25%;
    left: 0;
    width: 145px;
    height: 60px;
    border-radius: 100%;
    background: #515050
}

.about__text {
    margin-top: 20px;
    font-size: 14px;
    line-height: 21px
}

.about__skills {
    display: grid;
    grid-template: repeat(2, minmax(115px, auto))/repeat(2, 260px);
    grid-auto-rows: 1fr;
    -moz-column-gap: 50px;
    column-gap: 50px;
    row-gap: 20px
}

.about__skills-item {
    display: grid;
    grid-template-columns: 40px 200px;
    -moz-column-gap: 20px;
    column-gap: 20px
}

.about__skills-circle {
    position: relative;
    padding: 15px 0 0 15px
}

.about__skills-circle:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -25%;
    left: 0;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background: #98948a
}

.about__skills-circle:before {
    top: 0
}

.about__skills-text {
    margin-top: 6px;
    font-size: 12px;
    line-height: 18px
}

.skills {
    padding-top: 150px;
    padding-bottom: 120px;
}

.skills__items {
    margin-top: 60px;
    padding: 0 10px;
    display: grid;
    grid-template: repeat(2, minmax(270px, auto))/repeat(4, 270px);
    grid-auto-rows: minmax(270px, auto);
    gap: 13px
}

.skills__item {
    border: 1px solid #000;
    padding: 30px 30px 25px 30px;
    transition: border ease 1s;
    -webkit-transition: border ease 1s;
    -moz-transition: border ease 1s;
    -ms-transition: border ease 1s;
    -o-transition: border ease 1s;
}

.skills__item:hover {
    border: 1px solid white;
}

.skills__item-img {
    display: flex;
    text-align: center;
    min-height: 65px
}

.skills__item h3 {
    margin-top: 20px;
    margin-bottom: 0
}

.skills__item p {
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 18px
}

.portfolio {
    padding-top: 120px;
    padding-bottom: 130px;
}

.portfolio__wrapper {
    margin-top: 60px;
    display: grid;
    grid-template: repeat(2, 280px)/repeat(3, 280px);
    grid-auto-rows: 280px;
    gap: 40px
}

.portfolio__item {
    transition: transform ease .6s;
    -webkit-transition: transform ease .6s;
    -moz-transition: transform ease .6s;
    -ms-transition: transform ease .6s;
    -o-transition: transform ease .6s;
}

.portfolio__item:hover {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
}

.portfolio__item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}