* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  .warning {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background: #c2e8ce;
  }
  
  .warning p {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #1f1f1f;
  }
  
  .warning .close-btn {
    position: absolute;
    width: 16px;
    height: 16px;
    right: 55px;
    top: 0;
  }
  
  .content_wrapper {
    width: 1280px !important;
    margin: 0 auto;
    position: relative;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  ul li {
    list-style: none;
  }
  
  .list li:before {
    content: url(img/check-mark.svg);
    padding: 2px 7px;
    background: #ff8126;
    border-radius: 50%;
  }
  
  .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding: 20px;
    font-family: "Popins";
  }
  
  .header nav {
    display: flex;
    align-items: center;
    margin-left: 55px;
    font-family: "Popins";
  }
  
  .header nav a {
    margin-right: 40px;
  }
  
  .arrow {
    display: inline-block;
    width: 10px;
    height: 7px;
    background-image: url(./img/arrow-down.svg);
  }
  
  .top_menu {
    display: flex;
    justify-content: flex-end;
  }
  
  .menu1 {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-image: url(./img/search.svg);
  }
  
  .menu2 {
    width: 24px;
    height: 30px;
    background-repeat: no-repeat;
    background-image: url(./img/profile.svg);
  }
  
  .menu3 {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-image: url(./img/cart.svg);
    position: relative;
  }
  
  .round {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: 1px solid #bfbfbf;
    border-radius: 50%;
    margin-left: 20px;
  }
  
  .circle {
    position: absolute;
    min-width: 16px;
    height: 16px;
    left: 26px;
    top: -16px;
    text-align: center;
    background: #ff8126;
    border-radius: 50%;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 16px;
    color: #ffffff;
    padding: 0 2px;
  }
  
  .banner {
    box-shadow: -5px 4px 11px -3px #000000;
    position: relative;
  }
  
  .banner .details {
    position: absolute;
    left: 55px;
    top: 125px;
  }
  
  .banner h1 {
    font-family: "Cormorant", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    color: #1f1f1f;
  }
  
  .banner h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 39px;
    color: #1f1f1f;
  }
  
  .banner button {
    width: 200px;
    height: 45px;
    background: #ff8126;
    border-radius: 5px;
    color: white;
    border: none;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
  }
  
  .goods {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 58px;
  }
  
  .goods h2 {
    display: flex;
    justify-content: center;
    font-family: "Cormorant", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 33px;
    line-height: 40px;
    margin: 40px -22px 80px 0;
  }
  
  .goods b {
    color: #ff8126;
    margin-left: 12px;
  }
  
  .wrap_item {
    display: flex;
    justify-content: center;
  }
  
  .item {
    width: 270px;
    height: 332px;
    background: #f7f5f0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    margin-left: 30px;
  }
  
  .item h4 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #1f1f1f;
  }
  
  .item .wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
    .item .price {
      display: flex;
      flex-direction: row;
    }
  
  .cost_color {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #ff8126;
  }
  
  .line_through {
    margin-left: 10px;
    color: gray;
    line-height: 36px;
    font-weight: 600;
    font-family: "Poppins";
    text-decoration: line-through;
  }
  
  .wrap button {
    width: 230px;
    height: 40px;
    background: #ff8126;
    border-radius: 5px;
    color: white;
    margin-top: 20px;
    border: none;
  }
  
  .wrap button:hover {
    background: #903d01;
  }
  
  .inf_section {
    text-align: center;
    width: 1280px;
    padding: 0 55px;
    margin: 40px auto;
  }
  
  .inf_section b {
    color: #ff8126;
  }
  
  .inf_section h2 {
    margin: 40px 0 80px 0;
    font-family: "Cormorant", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
  }
  
  .wrap-info {
    display: flex;
    flex-direction: row;
  }
  
  .info-item {
    width: 210px;
    margin-right: 30px;
    text-align: left;
    font-family: "Popins";
  }
  
  .food_info {
    display: flex;
    flex-direction: row-reverse;
    margin: 0 auto 80px;
  }
  
  .left {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: flex-start;
    margin: 0 40px 10px 0;
  }
  
  .left h3 {
    font-family: "Cormorant", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    color: #ff8126;
  }
  
  .left p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #1f1f1f;
    margin-top: 40px;
  }
  
  .left b {
    color: black;
  }
  
  .left button {
    width: 270px;
    height: 45px;
    background: #ff8126;
    border-radius: 5px;
    color: white;
    border: none;
    margin-top: 30px;
    font-family: "Popins";
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
  }
  
  .list li {
    font-family: "Poppins";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #1f1f1f;
    margin-top: 20px;
  }
  
  .right {
    display: flex;
    margin-top: 50px;
  }
  
  .our_parther {
    display: flex;
    justify-content: space-around;
    align-self: center;
    width: 100%;
    height: 395px;
    background-image: url(./img/Bg-Our-Partner.png);
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
  }
  
  .our_parther h2 {
    font-family: "Cormorant", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #ffffff;
    margin-top: 60px;
  }
  
  .our_parther button {
    width: 330px;
    height: 45px;
    background: #ff8126;
    border-radius: 5px;
    border: none;
    margin-bottom: 60px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
  }
  
  .sections {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 1280px;
  }
  
  .section_left {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: flex-start;
    margin: 20px 31px;
  }
  
  .section_left b {
    color: black;
  }
  
  .section_left h2 {
    font-family: "Cormorant", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    color: #1f1f1f;
  }
  
  .section_left h3 {
    font-family: "Cormorant", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    color: #ff8126;
  }
  
  .section_left p {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    font-family: "Poppins";
    color: #1f1f1f;
    margin: 40px 0 20px 0;
  }
  
  .section_left button {
    width: 140px;
    height: 45px;
    background: #ff8126;
    border-radius: 5px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: white;
    border: none;
    margin-top: 30px;
  }
  
  .section_right {
    display: flex;
    background-repeat: no-repeat;
    background-image: url(./img/section-left.png);
    width: 1720px;
    height: 432px;
  }
  
  .bakery_quality {
    text-align: center;
    margin: 80px 0 80px 0;
  }
  
  .bakery_quality a {
    font-family: "Cormorant", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    text-decoration-line: underline;
    color: #ff8126;
  }
  
  .bakery_quality h2 {
    font-family: "Cormorant", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
  }
  
  .bakery_quality i {
    font-family: "Cormorant", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    text-decoration: none;
    color: black;
  }
  
  /* Slider */
  
  .wrap-slider {
    display: flex;
    justify-content: center;
    margin-top: 80px;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
    position: relative;
  }
  
  .slick-slide {
    margin: 0 15px;
  }
  
  .slick-slider img {
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  }
  
  .slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
  }
  
  .slick-slider {
    display: flex;
    justify-content: center;
    width: 1000px;
    min-width: 0;
  }
  
  .slick-list {
    display: flex;
    width: 500px;
    min-width: 0;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  
  .slick-track {
    display: flex;
    min-width: 0;
  }
  
  .slick-prev {
    visibility: visible;
    position: absolute;
    left: -50px;
    top: 80px;
    width: 50px;
    height: 50px;
    border: none;
    background: none;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url(/Folder-for-Elogic/Food-Store/img/arrow-left.svg);
  }
  
  .slick-next {
    visibility: visible;
    position: absolute;
    right: -70px;
    top: 80px;
    width: 50px;
    height: 50px;
    border: none;
    background: none;
    cursor: pointer;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background-repeat: no-repeat;
    background-image: url(/Folder-for-Elogic/Food-Store/img/arrow-right.svg);
  }
  
  .comunication {
    margin-top: 80px;
    height: 260px;
    display: flex;
    flex-direction: column;
    background-image: url(/Folder-for-Elogic/Food-Store/img/Bg-Our-Partner.png);
  }
  
  .comunication h4 {
    font-family: "Cormorant", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #1f1f1f;
    margin: 40px 0 60px 0;
  }
  
  .tell_a_friend {
    display: flex;
    justify-content: center;
  }
  
  .com_item {
    display: flex;
    justify-content: center;
  }
  
  .com_item a {
    margin-left: 30px;
  }
  
  footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 57px 72px;
    background-repeat: no-repeat;
  }
  
  .footer_section {
    margin-left: 83px;
  }
  
  .footer_section a {
    margin-top: 8px;
    font-family: "Poppins";
    font-size: 15px;
    line-height: 22px;
    color: #3d3d3d;
  }
  
  .footer_section nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .footer_section h5 {
    margin-bottom: 15px;
  }
  
  /*  BURGER  */
  
  .hamburger::after {
    margin-left: 10px;
    border: none;
  }
  
  #hamburger {
    position: fixed;
    left: 0px;
    top: 30px;
    border: none;
    background: none;
    cursor: pointer;
    display: none;
  }
  
  .hamburger span::after {
    display: none;
    content: "\2261";
    font-size: 70px;
    width: 40px;
    z-index: 2;
  }
  
  .hamburger span {
    display: none;
    flex-direction: column-reverse;
    align-items: center;
    align-self: center;
  }
  
  #hamburger:focus {
    outline: none;
  }
  
  .menu {
    position: absolute;
    left: -2px;
    top: 260px;
    display: none;
    width: 700px;
    height: 324px;
    background: rgb(31, 182, 174);
    border-radius: 20px;
    justify-content: space-evenly;
    flex-direction: column;
  }
  
  .menuLink {
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
  }
  .menuLink:hover {
    color: rgba(10, 10, 10, 0.424);
    background: rgba(31, 182, 175, 0.664);
  }