    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        /* width: 1440px; */
        margin: 0 auto;
        height: 100%;
    }
    
    img:hover {
        /*filter: blur(20px);
        */
        transition: all 1.3s;
    }
    
    a {
        text-decoration: none;
        color: black;
    }
    
    ul li {
        list-style: none;
    }
    
    .logo {
        font-size: 40px;
        font-style: italic;
        font-family: cursive;
    }
    
    .header {
        top: -20px;
        width: 100%;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding-top: 40px;
        z-index: 2;
        padding-bottom: 40px;
        margin: 0 auto;
        background: #2c3240;
        border: 1px dotted #8f8f8f;
        color: white;
    }
    
    .header a {
        color: white;
    }
    
    .main {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background-size: cover;
        margin: 0 auto;
        position: relative;
        width: 100%;
    }
    
    .img-main {
        width: 100%;
    }
    
    .section-top {
        left: 150px;
        top: 240px;
        position: absolute;
        height: auto;
        font-size: 40px;
        max-width: 560px;
    }
    
    .section-top img {
        width: 50%;
    }
    
    .section-top h2 {
        color: white;
    }
    
    .section-top button {
        background: white;
        color: black;
        width: 150px;
        padding: 15px;
        margin-left: 20px;
        border: 0;
    }
    
    .button-sections {
        position: relative;
    }
    
    .button-sections__btn {
        display: flex;
        position: absolute;
        left: 390px;
        bottom: 203px;
    }
    
    .btn {
        padding: 20px;
        display: flex;
        justify-content: center;
        border: none;
        background: white;
        margin: 0 15px;
        flex-direction: row;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
    }