* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

body {
    margin: 0 auto;
    position: relative;
    height: min-content;
    background-position: center;
    scroll-behavior: smooth;
    background: gray;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

#id1,
#id2,
#id3,
#id4 {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: transparent;
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 30vh;
}

#id1,
#id3 {
    background: rgb(72, 131, 179);
}

#id2,
#id4 {
    background: rgb(173, 148, 148);
}

h2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
}


/* section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-position: center;
    scroll-behavior: smooth;
    background: darkblue;
} */

header {
    display: flex;
    width: 100%;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    height: 100vh;
}

nav a {
    color: white;
    cursor: pointer;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    padding: 20px;
}

nav a:hover {
    color: beige;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    transform: scale(2);
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transition: transform ease-in-out 2s;
    -webkit-transition: transform ease-in-out 1.3s;
    -moz-transition: transform ease-in-out 2s;
    -ms-transition: transform ease-in-out 2s;
    -o-transition: transform ease-in-out 2s;
}

footer {
    display: flex;
    justify-content: center;
}

footer h4 {
    color: white;
}

.items {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.wrap-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.item {
    height: auto;
}