@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

/* font-family: 'Maven Pro', sans-serif; */

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    width: 1920px;
}

html {
    min-height: 100%;
}

a {
    text-decoration: none;
    color: black;
}

ul li {
    list-style: none;
}

.bg {
    margin-top: 15px;
    background: url(./images/header-bg.png) no-repeat;
    background-position-x: right;
}

header {
    display: flex;
}

.header__logo {
    position: relative;
    font-size: 13px;
}

.header__logo img {
    position: relative;
    left: 253px;
}

nav {
    display: flex;
    align-items: center;
}

.header-nav__menu {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    margin-left: 484px;
}

.header-nav__menu a {
    color: white;
    font-family: 'Acme', sans-serif;
    margin-left: 63px;
    font-size: 16px;
}

.social-network {
    color: white;
    background-color: transparent;
    margin: 0 45px;
}

.fab,
.far {
    margin-left: 30px;
    font-size: 25px;
}

main {
    position: relative;
}

.info__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 94px -5px 15px 294px;
}

.info__main h1 {
    font-family: 'Maven Pro', sans-serif;
    font-size: 4.5em;
    display: flex;
    flex-wrap: wrap;
    width: 705px;
    margin-top: 150px;
}

.info__main p {
    display: flex;
    flex-wrap: wrap;
    width: 693px;
    font-family: 'Acme', sans-serif;
}

.main-btn {
    position: relative;
    right: 60px;
    top: 34px;
}

.btn {
    color: black;
    width: 240px;
    height: 68px;
    border-radius: 40px;
    margin: 50px 20px;
}

.primary {
    background: #5698fc;
    color: white;
    border: 5px solid white;
}

.secondary {
    background: none;
    color: white;
    border: 5px solid blue;
}

.main__right-bg {
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    right: 143px;
    top: 60px;
}

.content-section {
    display: flex;
    justify-content: space-around;
    margin-top: 20rem;
}

.bg-left {
    background: url(./images/bg-bg.png) no-repeat;
    width: 100%;
}

.right-info__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bg-different-platform {
    background: url(./images/macbook-platform.png);
}


/* font-size: 1.5em; */


/* color: #aaaaaa; */


/* color: #b3b3b3; */


/* color: #e5e5e5; */


/* color: #222222; */


/* color: #2c2c2c; */


/* color: #5698fc; */


/* #000000 - opacity 10.0% */


/* #ffffff - opacity 80.0% */