@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

/* font-family: 'Maven Pro', sans-serif; */

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    width: 1920px;
}

html {
    min-height: 100%;
}

a {
    text-decoration: none;
    color: black;
}

ul li {
    list-style: none;
}

.bg {
    margin-top: 15px;
    background: url(./images/header-bg.png) no-repeat;
    background-position-x: right;
}


/* Header */

header {
    display: flex;
}

.header__logo {
    position: relative;
    font-size: 13px;
}

.header__logo img {
    position: relative;
    left: 253px;
}

nav {
    display: flex;
    align-items: center;
}

.header-nav__menu {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    margin-left: 484px;
}

.header-nav__menu a {
    color: white;
    font-family: 'Acme', sans-serif;
    margin-left: 63px;
    font-size: 16px;
}

.social-network {
    color: white;
    background-color: transparent;
    margin: 0 45px;
}

.fab,
.far {
    margin-left: 30px;
    font-size: 25px;
}


/* Main */

main {
    position: relative;
}

.info__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 94px -5px 15px 294px;
}

.info__main h1 {
    font-family: 'Maven Pro', sans-serif;
    font-size: 4.5em;
    display: flex;
    flex-wrap: wrap;
    width: 705px;
    margin-top: 180px;
}

.info__main p {
    display: flex;
    flex-wrap: wrap;
    font-size: 23px;
    width: 758px;
    margin: 14px -37px;
    font-family: 'Acme', sans-serif;
}

.main-btn {
    position: relative;
    right: 61px;
    bottom: 42px;
}

.btn {
    text-transform: uppercase;
    width: 240px;
    height: 54px;
    border-radius: 40px;
    margin: 59px 20px;
}

.primary {
    background: #5698fc;
    color: white;
    border: none;
}

.secondary {
    background: none;
    color: white;
    border: 5px solid blue;
}

.btn:hover {
    background: #5698fc;
    color: white;
    border: none;
    cursor: pointer;
    transition: 1.5s;
    -webkit-transition: 1.5s;
    -moz-transition: 1.5s;
    -ms-transition: 1.5s;
    -o-transition: 1.5s;
}

.main__right-bg {
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    right: 143px;
    top: -32px;
}


/* Sections */

.content-section {
    display: flex;
    justify-content: space-around;
    margin: 19.5rem 140px;
}

.bg-left__content-section::before {
    content: url(./images/bg-bg.png);
    position: absolute;
    left: 0;
    top: 829px;
    z-index: -2;
}

.right-info__section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 75px 199px 47px;
}

.right-info__section h2 {
    font-size: 70px;
    display: flex;
    flex-wrap: wrap;
    width: 683px;
}

.right-info__section p {
    margin: 25px 19px;
    font-size: 22px;
}

.btn-primary_position {
    margin: 0;
}


/* section-platform */

.section-platform {
    display: flex;
    flex-direction: column;
    margin-top: 30rem;
    position: relative;
}

.section-platform h2 {
    position: absolute;
    left: 260px;
    font-size: 80px;
    max-width: 650px;
    bottom: 499px;
    word-spacing: 9px;
}

.about-platform {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 200px;
    flex-direction: column;
    max-width: 678px;
}

.about-platform li:nth-child(odd) {
    font-size: 25px;
    color: #5698fc;
}

.bg-different-platform {
    background: url(./images/macbook-platform.png);
}


/* benefit-to-you */

.benefit-to-you {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 18rem;
}

.items {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.item {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.benefit-to-you button {
    text-transform: uppercase;
    width: 240px;
    height: 54px;
    border-radius: 40px;
    background: #5698fc;
    color: white;
    border: none;
    margin-top: 190px;
}

.section__items {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.left-bg__section-items {
    display: flex;
}

.about-trust-brands {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    align-content: flex-start;
    max-width: 280px;
}

.brands {
    margin-top: 50rem;
    display: flex;
}