* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1920px;
  height: auto;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

ul li {
  list-style: none;
}

header {
  padding-top: 5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-left: 10rem;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 18%;
}

header h1 {
  position: relative;
  left: 18px;
  font-size: 32px;
  color: #57a9a5;
  font-family: "Poppins";
  font-style: normal;
}

nav a {
  font-size: 34px;
  color: black;
  margin-right: 81px;
}

nav button {
  margin-left: 3.7em;
  width: 260px;
  height: 85px;
  background: #58a9a5;
  font-size: 28px;
  font-family: "Poppins";
  color: white;
  border-radius: 20px;
  cursor: pointer;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

nav a:hover {
  border-bottom: 5px solid orange;
}

.header-content {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: flex-start;
}

.left {
  position: relative;
}

.right-content img {
  position: relative;
  top: 9.2rem;
  right: 4rem;
  border-radius: 120px;
  width: 100%;
  height: 100%;
  background: #ccf0e6;
  border-radius: 50%/10%;
  position: relative;
}

.right-content > img::before {
  content: "";
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: -5%;
  left: -5%;
  background: inherit;
  border-radius: 5%/50%;
}

.header-content h1 {
  font-family: "Poppins";
  margin-top: 24rem;
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  color: #1c2323;
  width: 720px;
  margin: 10rem;
}

.header-content p {
  width: 743px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;
  margin: -7.2rem 11rem;
  color: #404242;
  text-align: left;
}

.header-content button {
  position: relative;
  width: 271px;
  height: 80px;
  top: 166px;
  left: 170px;
  background: #58a9a5;
  color: white;
  font-size: 30px;
  border-radius: 20px 20px 20px 0px;
  -webkit-border-radius: 20px 20px 20px 0px;
  -moz-border-radius: 20px 20px 20px 0px;
  -ms-border-radius: 20px 20px 20px 0px;
  -o-border-radius: 20px 20px 20px 0px;
  cursor: pointer;
}

section {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-top: 17.5rem;
}

section h2 {
  font-size: 80px;
  margin-bottom: 30px;
}

section p {
  font-size: 30px;
  width: 572px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-bottom: 75px;
}

.item-works {
  display: flex;
  position: relative;
}

.item-works p {
  position: absolute;
  right: 8rem;
  top: 65px;
  width: 305px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
}

.item-works h3 {
  position: absolute;
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1;
  color: #486958;
  right: 20rem;
  top: 235px;
}

.green-bg {
  position: relative;
  z-index: -2;
}

.play {
  position: relative;
  top: 19rem;
  left: 330px;
  z-index: 2;
}

.bg1 {
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 65px;
  -webkit-border-radius: 65px;
  -moz-border-radius: 65px;
  -ms-border-radius: 65px;
  -o-border-radius: 65px;
}

.bg2 {
  position: absolute;
  bottom: 13px;
  right: 13px;
  background: #ffffff;
  border-radius: 65px;
  -webkit-border-radius: 65px;
  -moz-border-radius: 65px;
  -ms-border-radius: 65px;
  -o-border-radius: 65px;
}

.bg-click-play {
  position: absolute;
  right: 44px;
  bottom: 44px;
}

.visual-home {
  display: flex;
  justify-content: space-around;
  margin-top: 150px;
  width: 100%;
}

.visual-home h2 {
  width: 487px;
  font-family: "Poppins";
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
  color: #1c2323;
  margin-left: 0;
}

.visual-home p {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 29px;
  line-height: 45px;
  color: #486958;
  text-align: left;
}
.right-visual-inf {
  position: relative;
  right: 220px;
}

.our-project {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 120px;
}

.our-project h2 {
  font-family: "Poppins";
  font-weight: 800;
  font-size: 70px;
  text-align: center;
  color: #1c2323;
}

.our-project p {
  font-family: "Poppins";
  font-weight: normal;
  font-size: 30px;
  line-height: 81px;
  text-align: center;
  color: #404242;
  margin-bottom: 140px;
}

.items {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.item1 h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  color: #58a9a5;
}

.item1 p {
  width: 453px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #486958;
}

.item2 h3,
.item3 h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  color: #58a9a5;
  margin-top: 35px;
}

.item2 p,
.item3 p {
  width: 453px;
  top: 550px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #486958;
}

.item3 h3 {
  margin-top: 0;
}
.testimonial {
  margin-top: 250px;
  font-size: 60px;
  text-align: center;
}
.images-testimonial {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.about-company {
  display: flex;
  justify-content: center;
}
.about-right {
  width: 997px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #ccf0e6;
}
