* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

ul li {
    list-style: none;
}


/* for footer link  */

.color-white {
    color: white;
}


/* header  */

.header-top {
    display: flex;
    justify-content: space-around;
    height: 80px;
    align-items: center;
}

.header-top a {
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0.02;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.header-top span {
    color: #000;
}

.header-top ul {
    display: flex;
}

.nav-list li {
    margin-right: 50px;
}

.nav-list a {
    color: #212121;
    font-size: 14px;
}

.social-link a {
    color: #757575;
    margin-right: 50px;
}

.header-top ul li a:hover {
    color: #2196F3;
}


/* main  */

main {
    text-align: center;
}

section h2 {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}


/* banner  */

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #2F303A;
    height: 600px;
}

.banner h1 {
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.banner button {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: white;
    padding: 20px 20px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-top: 30px;
    cursor: pointer;
}

.banner button:hover {
    background: #757575;
}


/* our-features  */

.our-features {
    margin-top: 94px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.list h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.list li {
    width: 270px;
    text-align: left;
    margin-right: 30px;
}

.list p {
    margin-top: 10px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}


/* what-we-do  */

.what-we-do {
    margin-top: 94px;
    display: flex;
    flex-direction: column;
}

.what-we-do ul {
    display: flex;
    justify-content: center;
}

.what-we-do ul li {
    margin-right: 30px;
}


/* our-teams  */

.our-teams {
    margin-top: 94px;
    display: flex;
    flex-direction: column;
}

.our-teams ul {
    justify-content: center;
}

.items {
    display: flex;
    justify-content: space-around;
}

.item {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-right: 30px;
    transition: all 0.7s ease-in;
}

.item:hover {
    background: #2F303A;
    color: white;
}

.item h3 {
    margin-top: 30px;
}

.item p {
    margin: 30px 0 30px;
}


/* footer */

footer {
    margin-top: 94px;
    width: 100%;
    height: 252px;
    background: #2F303A;
}

footer a {
    color: white;
}

.footer-bottom {
    margin-left: 215px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

address {
    margin-top: 20px;
}

.footer-list a {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

.link {
    color: rgba(255, 255, 255, 0.6);
}


/* portfolio  */

.section-filter {
    display: flex;
    justify-content: center;
}

.main-list {
    display: flex;
    align-items: center;
    margin-top: 94px;
}

.main-list button {
    margin-right: 20px;
    background: #F5F4FA;
    border-radius: 4px;
    padding: 20px 40px;
    border: none;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.main-list button:hover {
    color: white;
    background: #2196f3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.section-store {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.items-store {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
}

.items-store li {
    margin: 0 30px 30px 0;
}

.store-item {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    width: 370px;
}

.container {
    text-align: start;
    padding: 24px;
}

.container p {
    margin-top: 4px;
}