@media screen and (max-width: 480px) {
    body {
        width: 100%;
    }
    div>h1 {
        font-family: "Reggae One", cursive;
        display: flex;
        justify-content: center;
        background: silver;
        font-size: 25px;
    }
    nav {
        display: flex;
        justify-content: space-around;
        margin-top: 50%;
    }
}