body {
    padding: 0;
    margin: 0 auto;
    width: 1920px;
    background: no-repeat;
    background-image: url(/img/nature.jpg);
}

div>h1 {
    font-family: "Reggae One", cursive;
    display: flex;
    justify-content: center;
    background: silver;
}

nav {
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}

audio {
    width: 300px;
    background: black;
}

@keyframes margin-change {
    0% {
        color: red;
        margin-right: 2px;
    }
    50% {
        color: silver;
        margin-left: 50%;
    }
}

.animation {
    animation: margin-change 15s infinite;
}