body {
    font-family: sans-serif;
    box-sizing: content-box;
}

.container {
    margin: 0 auto;
    padding-top: 50px;
}

.important {
    font-weight: bold;
    color: #a40e11;
}

.todo_list {
    max-width: 400px;
    display: block;
    margin: 0 auto 40px;
    background-color: #1ba39c;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px 0 #074b83;
}

h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 30px;
}

.create_new_todo {
    text-align: center;
}

input[type="text"] {
    width: 376px;
    padding: 10px;
}

button {
    margin-top: 10px;
    width: 400px;
    padding: 10px;
    cursor: pointer;
    background: darkgrey;
}

.todo {
    position: relative;
    padding-left: 0;
}

.todo li {
    padding: 1em;
    list-style-type: none;
}

.todo li:not(:last-child) {
    border-bottom: 1px solid #000;
}

input[type="checkbox"] {
    opacity: 0;
    position: absolute;
}

input[type="checkbox"],
label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}

input[type="checkbox"]+label:before {
    content: "";
    background: #1ba39c;
    border-radius: 5px;
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}

input[type="checkbox"]:checked+label:before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 5px;
    border: solid blue;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    border-radius: 0;
    margin: 0 15px 5px 5px;
}

.delete {
    position: absolute;
    right: 12px;
    display: flex;
    bottom: 10px;
    text-align: center;
    font-size: 14px;
    width: 56px;
    height: 32px;
    border-radius: 10px;
    background: rgb(132 132 139);
}