@media (min-width: 180px) and (max-width: 767px) {
    body {
        width: 100% !important;
        margin: 0 auto;
    }
    .top-line {
        width: 100%;
        height: 390px;
        background-color: #000000;
    }
    .container-top-line {
        display: none;
    }
    .second-line {
        margin-top: 0;
        flex-direction: column;
        justify-content: center;
    }
    .second-line h1 {
        margin-top: 30px;
    }
    .second-line nav {
        display: block;
        position: static;
        flex-direction: column;
        margin: 0 auto;
    }
    .store {
        margin-left: 40px;
        margin-bottom: 20px;
    }
    .search {
        margin-left: 65px;
        margin-bottom: 18px;
    }
    /* main  */
    .first-screen {
        background-size: cover;
        width: auto;
    }
    .frame {
        width: 230px;
        height: 230px;
    }
    .frame h2 {
        font: bold 26px/1 PT Sans;
    }
    .frame h3 {
        font: 12px/28px PT Sans;
    }
    .txt-porten {
        width: 240px;
        font: 16px/130% PT Sans;
    }
    /* right-left  */
    .right-left {
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    .right {
        width: 100%;
    }
    .right h3 {
        font: normal bold 24px/47px Playfair Display;
        margin: 0 32px;
    }
    .right div {
        margin-bottom: 28px;
        width: 120px;
    }
    .right a {
        margin-bottom: 100px;
        padding: 12px 28px;
        height: 47px;
        border: 1px solid #ffffff;
        color: #ffffff;
        font: 18px/23px PT Sans;
        letter-spacing: 0.1em;
    }
    .left {
        padding-top: 470px;
        width: 100%;
        background: #0f0f0f;
        z-index: 2;
        display: flex;
        justify-content: center;
    }
    .line-season {
        margin: 50px;
        width: 120px;
    }
    .items {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        margin-top: 30px;
    }
    .item-season {
        margin-right: 0;
        width: 100%;
        margin-top: 13px;
        height: auto;
        padding-top: 40px;
    }
    .watch {
        text-align: center;
    }
    .watch h3 {
        font: 20px Playfair Display;
        margin: 0 50px;
    }
    .watch p {
        font: normal bold 16px/21px Playfair Display;
        margin: 20px auto;
    }
    /* collection-left_right */
    .collection-left_right {
        display: flex;
        flex-direction: column;
        background: no-repeat;
        width: 100%;
        margin: 0 auto;
    }
    .img-2018 {
        width: 100%;
        min-height: 100%;
        margin-top: 418px;
    }
    .collection2018 {
        width: 100%;
        margin: 0 auto;
        margin-top: -480px;
        background: transparent;
    }
    .rectangle {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 10px auto;
    }
    .rectangle h2 {
        font: 36px/48px Playfair Display;
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }
    .rectangle div {
        margin: 10px auto;
        width: 40%;
        text-align: center;
    }
    .rectangle p {
        margin: 10px;
        font: 14px/150% PT Sans;
        text-align: center;
    }
    .rectangle a {
        padding: 15px;
        font-size: 19px;
        margin: 0 auto;
    }
    /* new-goods  */
    .new-goods {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 500px;
    }
    .new-goods h2 {
        font: normal bold 22px/31px Playfair Display;
        margin-top: 0;
    }
    .line-new-goods {
        height: 0;
        width: 120px;
        margin: 10px auto;
    }
    .container-new-goods {
        width: auto;
    }
    .item-new-goods {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 32px 0;
        width: 230px;
    }
    .rectangle-brand {
        display: flex;
        padding-top: 50px;
        padding-bottom: 100px;
    }
    .rectangle-brand h2 {
        margin-top: 60px;
        margin-bottom: 10px;
        font: normal bold 36px/48px Playfair Display;
        text-align: center;
    }
    .for-brand,
    .brand {
        margin: 12px;
    }
    .picture {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        margin-bottom: 0;
        width: auto;
        height: auto;
    }
    .container-menu {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        padding-top: 300px;
    }
    .for_a_store {
        margin: 80px auto;
        padding-left: 20px;
        width: auto;
    }
    .container-menu h2 {
        margin: 0 auto;
        text-transform: uppercase;
        font: 22px/32px Playfair Display;
        color: white;
        text-align: center;
    }
    .for_a_store p {
        font: 13px/150% PT Sans;
        margin-top: 40px;
    }
    .container-for-watch {
        display: flex;
        flex-direction: column;
    }
    .container-for-menu {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        height: 100px;
        margin-top: 40px;
        width: 100%;
    }
    .newsletter {
        display: flex;
        width: 100%;
        flex-direction: column;
        color: #ffffff;
        margin-top: 100px;
    }
    .container-subscribe {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 40px;
    }
    .container-subscribe input {
        color: white;
        width: 100%;
        height: 50px;
        font-size: 18px;
        padding: 10px;
        background: rgba(255, 255, 255, 0.4);
    }
    .container-subscribe button {
        border: none;
        display: flex;
        flex-direction: row;
        padding: 18px 30px;
        background: #0f0f0f;
        color: white;
        width: 70%;
        margin: 20px 50px;
        justify-content: center;
    }
    .last-line {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .top-line {
        width: 100%;
        height: auto;
    }
    .container-top-line {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        padding-top: 15px;
    }
    .container-top-line>nav {
        display: flex;
    }
    .registration {
        display: flex;
        margin-left: 0;
        font: 14px/16px PT Sans;
    }
    .tel {
        display: flex;
        font: 14px/16px PT Sans;
    }
    .second-line {
        width: auto;
        margin: 0 auto;
        margin-top: 20px;
        flex-direction: column;
        position: relative;
    }
    .second-line h1 {
        font: normal bold 36px PT Sans;
        margin-bottom: 23px;
        display: block;
    }
    .second-line nav {
        margin: 0 auto;
        left: 27%;
        top: 180%;
    }
    .right-left {
        margin: 0 auto;
        width: 100%;
    }
    .right {
        min-height: 730px;
        width: 70%;
        height: auto;
    }
    .left {
        flex-wrap: wrap;
        background: #0f0f0f;
        height: 100%;
    }
    .items {
        flex-direction: column;
        width: 50%;
    }
    .item-season {
        border: 2px solid #191b1c;
        margin-bottom: 17px;
        width: 100%;
        height: 100%;
        margin-right: 0;
        background: #191b1c;
    }
    .line-season {
        margin-top: 20px;
        width: 120px;
        height: 0px;
        border: 1px solid #ffffff;
    }
    .watch {
        width: -webkit-fill-available;
        margin-left: 0;
    }
    .for-brand,
    .brand {
        margin-right: 0px;
        margin-left: 0px;
        display: flex;
        flex-wrap: wrap;
        width: 99%;
        justify-content: center;
        flex-direction: row;
    }
    .rectangle-brand {
        height: auto;
    }
    .rectangle-brand h2 {
        margin-top: 44px;
        margin-bottom: 40px;
        font: normal bold 36px/48px Playfair Display;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
    }
    .line-brand {
        margin-bottom: 30px;
        width: 120px;
        height: 0px;
    }
    .container-menu {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    .container-menu h2 {
        margin-top: 60px;
        text-transform: uppercase;
        font: 22px/32px Playfair Display;
        margin-left: 18px;
    }
    .for_a_store {
        margin-right: 0;
        width: 350px;
    }
    .for_a_store p {
        padding-left: 12px;
    }
    .container-for-menu {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        width: auto;
        height: auto;
    }
    .container-for-watch {
        display: flex;
        flex-direction: column;
    }
    .newsletter {
        display: flex;
        width: min-content;
        flex-direction: column;
        color: #ffffff;
    }
    .newsletter p {
        font: 15px/150% PT Sans;
    }
    .container-new-goods {
        width: 750px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 59px;
    }
    .container-subscribe {
        flex-direction: column;
        margin-top: 40px;
    }
    .container-subscribe input {
        color: white;
        width: 220px;
        padding: 20px;
        height: 42px;
        margin-right: 20px;
    }
    .container-subscribe button {
        padding: 10px 60px;
        margin-right: 10px;
    }
}