// section

.section {
    margin-top: 6%;
    align-items: center;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .section--reverse {
        display: flex;
    }
}

.content-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
}

.wrap-img {
    display: flex;
    justify-content: center;
}

.m--width {
    font-style: normal;
    max-width: fit-content;
    font-size: 21px;
    margin: 30px 0;
    text-align: justify;
}

.section-address {
    color: #8c9396;
    transition: color 330ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.section-address:hover,
.section-address:focus {
    color: $primary;
}
